 Class method

In [30]:
class Employee:
    no_of_leaves = 21   # class method
    
    def __init__(self, name, salary, role):
        self.name = name
        self.salary = salary
        self.role = role
        
    def show(self):
        print("Detail:", self.name, self.salary, self.role, Employee.no_of_leaves)
        print(Employee.no_of_leaves)

#     @classmethod        # This is 1st methode use less
#     def change_leaves(cls, no_of_leaves):
#         cls.no_of_leaves= no_of_leaves
        
    
        
emp1= Employee("Jarry", 345,"Constructor")
emp2= Employee("Kelly", 100, "Cleaner")
emp1.show()

#Employee.change_leaves(34)
print(emp1.no_of_leaves)

#if want to modify than we change like this this 2nd method
#Employee.no_of_leaves= 17
#print(emp1.no_of_leaves)

#emp2=Employee(12) 
#  emp2.no_of_leaves(16)
#emp1.show()

Detail: Jarry 345 Constructor 21
21
21

In [20]:
class Employee:
    no_of_leaves = 8

    def __init__(self, aname, asalary, arole):
        self.name = aname
        self.salary = asalary
        self.role = arole

    def printdetails(self):
        return f"The Name is {self.name}. Salary is {self.salary} and role is {self.role}"

    #@classmethod
    #def change_leaves(cls, newleaves):
        cls.no_of_leaves = newleaves

#     @classmethod
#     def from_dash(cls, string):
#         # params = string.split("-")
        # print(params)
        # return cls(params[0], params[1], params[2])
        #return cls(*string.split("-"))


harry = Employee("Harry", 255, "Instructor")
rohan = Employee("Rohan", 455, "Student")
#karan = Employee.from_dash("Karan-480-Student")

# print(karan.no_of_leaves)
Employee.no_of_leaves=34

print(harry.no_of_leaves)

34

# List Comprihension

In [4]:
list1= []

for i in range(50):
    if(i %3==0):
        list1.append(i)
        
print(list1)

# list comprihension write code inline /short way is called comprihension
# We can create new sequences using a given python sequence. This is called comprehension. 
list1= [i for i in range(100) if i %3==0]
print(list1)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [24]:
a= []

for i in range(1,6):
    a.append(i*3)
print(a)


# In way of list Comprihension
a= [i*3 for i in range(1,6)]
print(a)

[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15]

In [2]:
a= [ ]

for i in range (1,50):
    if i %7==0:
        a.append(i)
        
print(a)
        
# In way of list Comprihension
a= [i for i in range (1,50) if i %7==0]
print(a)

[7, 14, 21, 28, 35, 42, 49]
[7, 14, 21, 28, 35, 42, 49]

In [8]:
# dictnory

dict1={i:f"item{i}" for i in range (50) if i%5==0}
print(dict1)

{0: 'item0', 5: 'item5', 10: 'item10', 15: 'item15', 20: 'item20', 25: 'item25', 30: 'item30', 35: 'item35', 40: 'item40', 45: 'item45'}

In [19]:
dict2={i:f"item{i}" for i in range (10)}
dict2={value:key for key,value in dict2.items()}


dict1={i:f"item{i}" for i in range (7)}

print(dict2,"/n", dict1)

{'item0': 0, 'item1': 1, 'item2': 2, 'item3': 3, 'item4': 4, 'item5': 5, 'item6': 6, 'item7': 7, 'item8': 8, 'item9': 9} /n {0: 'item0', 1: 'item1', 2: 'item2', 3: 'item3', 4: 'item4', 5: 'item5', 6: 'item6'}

# Lambda

In [3]:
# def minus(x,y):
#     return x-y

print(minus(9,4))

# Lamda is a one liner function 
minus= lambda x,y: x-y

5

In [4]:
x=lambda a: a + 15
print(x(10))

25

In [5]:
y= lambda a,b:a*b
print(y(5,9))

45

In [6]:
z=lambda a,b,c:a+ b+ c
print(z(10,30,31))

71

In [2]:
def myfunc(n):
    return lambda a: a*n

my_doubler= myfunc(2)
print(my_doubler(13))

26

In [3]:
def myfunc(n):
    return lambda a:a*n

my_doubler= myfunc(4)
my_tripler= myfunc(7)

print(my_doubler(11))
print(my_tripler(11))

44
77

 Itrarable

In [7]:
my_list= [2,5,8,5,9,3]

# get an itrater using an iter ()
my_iter= iter(my_list)


print(next(my_iter))

print(next(my_iter))


# next(obj) is same as obj.__next__()
##print(my_iter.__next__())

#print(my_iter.__next__())

2
5

In [11]:
element = iter("This iterabl")
# for i in element:
#     print(i)

print(next(element))
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())
print(element.__next__())

T
h
i
s

i
t
e
r
a
b
l

StopIteration:

In [14]:
# create an iterator object from that iterable
iter_obj = iter("This")

# infinite loop

        # get the next item
        #element = next("This is")
        # do something with element
#except StopIteration:
        # if StopIteration is raised, break from loop
        #break
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

T
h
i
s

# Decorater

In [4]:
def sample(mark):
    def addingmarks():
        print("My name is zikra")
        
        mark()
        
    return addingmarks

    

@sample 
def Student():
    print("Here my actual function")

Student()

My name is zikra
Here my actual function

In [1]:
# example of decorator
def sampleDecorator(func):
    def addingFunction():
        # some new statments or flow control
        print("This is the added text to the actual function.")
        # calling the function
#         return addingFunction

        func()

    return addingFunction


@sampleDecorator
def actualFunction():
    print("This is the actual function.")


actualFunction()

This is the added text to the actual function.
This is the actual function.

In [2]:
def secondfunc(func):
    def inner(a,b,c):
        print("My School name is", c)
        func(a,b)
    return inner



@secondfunc
def actualfunc(a,b):
    print("My name is", a,b)
    
    
actualfunc(" Khan", " Zikra", "M.U.U.H.S")

My School name is M.U.U.H.S
My name is  Khan  Zikra

In [2]:
def marks(z):
    def inner(a,b,c):
        print("ABP school",c)
        z(a,b)
    return inner

  


@marks
def student(a,b):
    print("my name",a,b)

student("iram","sayyed","Near Sakinaka")

ABP school Near Sakinaka
my name iram sayyed

# Genrater

In [1]:
def square():
    i=1
    while True:
        yield i*i
        i += 1
        
for num in square():
    if num > 100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Date and Time

In [6]:
from datetime import datetime

x= datetime.now()
print("Current date and time :", x)
print(type(x))

Current date and time : 2022-07-30 17:31:19.329487
<class 'datetime.datetime'>

In [5]:
from datetime import datetime

y= datetime.today()
print(y)

2022-07-30 17:30:32.241598

In [8]:
from datetime import datetime

x= datetime.now()

current_date= x.date()
print(current_date)

2022-07-30