# Python Strings

In [1]:
b="Hello, world!"
print(b[-6:-2])

worl

In [2]:
b="Hello, World! "
print(b[:7])

Hello,

In [1]:
#  Strip Method

txt="    zikra is girl   "
a=txt.strip("   zikra   ")
print(a)

s girl

In [3]:
a="Maharashtra"
print(a[-7:-1])

rashtr

In [4]:
a="maharashtra"
print(a[ :4])
print(a[5:-1])

maha
ashtr

In [5]:
x="science"

print(x.upper())

SCIENCE

In [6]:
v="inviroment"
print(v.upper())

INVIROMENT

In [7]:
c="People"
print(c.lower())

people

In [8]:
b="Hello, World!"
print(b.lower())

hello, world!

In [9]:
a=" zikra, tarabun "
print(a.strip())

zikra, tarabun

In [10]:
c=" Table Size "
print(c.strip())

Table Size

In [11]:
a="deople"
print(a.replace("d","P"))

People

In [1]:
c="bharkhand"
print(c.replace("b","j"))

jharkhand

In [13]:
a="Hello, People!"
b=a.split(",")
print(b)

['Hello', ' People!']

In [14]:
a="Stay always positive,Be Positive"
b=a.split(",")
print(b)

['Stay always positive', 'Be Positive']

In [15]:
a="Stay"
b="positive"
c=a+b
print(c)

Staypositive

In [16]:
a="stay"
b="positive"
c=a+" "+b
print(c)

stay positive

In [2]:
age=24
txt="My name is riya and I am {} year old"
print(txt.format(age))

My name is riya and I am 24 year old

In [1]:
quantity=3
itemno=567
price=49.95
myorder="I want {} pices of item {} for {} dollars."
print(myorder.format (quantity,itemno,price))

I want 3 pices of item 567 for 49.95 dollars.

In [2]:
quantity=9
itemno=678
price=87
myorder="I want to pay {2} dollars for {0} typy of item {1}."
print(myorder.format(quantity,itemno,price))

I want to pay 87 dollars for 9 typy of item 678.

In [3]:
txt="We are so-called \"vikings\" from north side."
print(txt)

We are so-called "vikings" from north side.

In [1]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [1]:
txt="we are so-called \"vikings\" fron north side"
print(txt)

we are so-called "vikings" fron north side

In [2]:
txt='it\'s ok i have no problem.'
print(txt)

it's ok i have no problem.

In [4]:
txt="This will insert one \\(backslash)."
print(txt)

This will insert one \(backslash).

In [5]:
txt="Dont worry\n Great things take a time."
print(txt)

Dont worry
 Great things take a time.

In [7]:
txt="sometimes we dont know value of moment\r until it's become a memory."
print(txt)

 until it's become a memory.

In [9]:
txt="Dont give up\rgreat things take a time"
print(txt)

great things take a time

# Booleans

In [10]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [12]:
a=150
b=50
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [13]:
print(bool("hello, world"))
print(bool(15))

True
True

In [14]:
x="World"
y= 45
print(bool(x))
print(bool(y))

True
True

In [15]:
print(bool("Hello"))
print(bool(1234))
print(bool(["apple","cherry","banana"]))

True
True
True

In [17]:
print(bool(None))
print(bool(0))
print(bool(""))

False
False
False

# Opraters

In [33]:
# Arithmatic opraters
# Addition
x=6
y=9
print(x+y)

a=56
b=34
print(a+b)

# substraction
x=64
y=45
print(x-y)

a=78
b=54
print(a-b)

#multipliction
x=9
y=13
print(x*y)

a=12
b=20
print(a*b)

#Division
x=46
y=6
print(x/y)

a=78
b=7
print(a/b)

#Modulus
a=13
b=3
print(a%b)

x=47
y=3
print(x%y)

#Exponentiton
x=5
y=4
print(x**y)

a=9
b=5
print(a**b)

#Floor division
x=47
y=4
print(x//y)

a=67
b=5
print(a//b)

15
90
19
24
117
240
7.666666666666667
11.142857142857142
1
2
625
59049
11
13

In [49]:
#Assignment Opraters
x=5
print(x)

x=9
x +=5
print(x)

x=45
x +=6
print(x)

a=56
a-=45
print(a)

a=78
a-=34
print(a)

x=12
x*=9
print(x)

x=15
x*=18
print(x)

a=67
a/=4
print(a)

a=45
a/=5
print(a)

x=78
x%=5
print(x)

x=34
x%=2
print(x)

a=12
a**=4
print(a)

a=18
a**3
print(a)

5
14
51
11
44
108
270
16.75
9.0
3
0
20736
18

In [68]:
#Assignment Opraters countinue

x=23
x//=2
print(x)

x=46
x//=6
print(x)

a=13
a&=2
print(a)

a=30
a&=4
print(a)

x=46
x|=5
print(x)

x=25
x|=4
print(x)

a=29
a^=3
print(a)

a=16
a^=2
print(a)

x=32
x>>=3
print(x)

x=23
x>>=2
print(x)

a=56
a<<=3
print(a)

a=24
a=2
print(a)

11
7
0
4
47
29
30
18
4
5
448
2

# Comparison Opraters

In [75]:
#Equal

x=17
y=10
print(x==y)

x=23
y=28
print(x!=y)

a=23
b=17
print(a>b)

a=11
b=19
print(a>b)

x=13
y=20
print(x<y)

a=34
b=32
print(a>=b)

x=43
y=31
print(x<=y)

False
True
True
False
True
True
False

# Logical Opraters

In [77]:
#and
x=6
print(x> 5 and x <9)

x=7
print(x< 8 and x > 10)

True
False

In [83]:
#or
a=12
print(a > 14 and a < 16)

a=8
print(a> 6 and a < 9)

a=10
print(a> 8 and a < 12)

False
True
True

In [90]:
#not
x=6
print(not(x> 5 and a < 10))

x=13
print(not(x> 15 and x > 20))

True
True

# Identity Opraters

In [4]:
#is

x=["orange", "pineapple"]
y=["orange","pineapple"]
z=x

print(x is y)
print(x is z)
print(x==y)

False
True
True

In [7]:
#is not
a=["cherry", "banana"]
b=["cherry", "banana"]
c=a

print(a is not c)
print(a is not b)
print(a != b)

False
True
False

# Membership Opraters

In [10]:
#in
x=["mango", "chikoo","apple"]
print("mango" in x)

print("apple" in x)

True
True

In [14]:
#not in
x=["mango","chikoo","apple"]
print("pineapple" not in x)

print("apple" not in x)

True
False

# Bitwise Opraters

In [16]:
#and
x=23
y=7
print(x&y)

x=32
y=10
print(x&y)

7
0

In [22]:
#or
x=16
y=6
print(x|y)

x=34
y=7
print(x|y)

x=17
y=-7
print(x|7)

22
39
23

In [24]:
#xor
a=43
b=12
print(a^b)

a=23
b=10
print(a^b)

39
29

In [30]:
#not
x=13
print(~x)

y=-23
print(~y)

a=17
print(~a)

-14
22
-18

In [34]:
#Left Shift
x=13
y=6
print(x<<y)

x=10
y=5
print(x<<y)

832
320

In [40]:
#Right Shift
a=45
b=23
print(a>>b)

a=31
b=11
print(a>>b)

0
0

# List

In [41]:
thislist=["apple","banana","cherry","pineapple"]
print(thislist)

['apple', 'banana', 'cherry', 'pineapple']

In [42]:
thislist=["apple","banana","cherry","pineapple"]
print(len(thislist))

4

In [48]:
list1=["apple","banana","orange"]
list2=[3,6,8,9,2,7]
list3=[True, False,False,True]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'orange']
[3, 6, 8, 9, 2, 7]
[True, False, False, True]

In [50]:
list1=["orange", 11 , True ,"female"]
print(type(list1))

<class 'list'>

In [47]:
list1=["apple",11 ,True,"orange"]
list2=["banana", 21 ,False , "pineapple"]

print(list1)
print(list2)

['apple', 11, True, 'orange']
['banana', 21, False, 'pineapple']

# Access List Item

In [53]:
#Access Items

fruitslist=["apple", "pineapple", "orange", "grapes","kiwi"]
print(fruitslist[3])

grapes

In [57]:

fruitslist=["apple", "pineapple", "orange", "grapes","kiwi"]
print(fruitslist[-1])
print(fruitslist[-3])

kiwi
orange

In [62]:
#Range of Index

thislist=["apple","banana", "cherry", "grapes", 'kiwi',"melon", "pineapple"]
print(thislist[3:6])
print(thislist[ :5])
print(thislist[2: ])
print(thislist[-4:-1])

['grapes', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'grapes', 'kiwi']
['cherry', 'grapes', 'kiwi', 'melon', 'pineapple']
['grapes', 'kiwi', 'melon']

In [67]:
# If it
list2=["orange", "kiwi", "mango"]
if"kiwi" in list2:
        print("yes ,'kiwi' in the given list")

yes ,'kiwi' in the given list

In [75]:
list3=["orange", "kiwi", "mango"]
if "mango" in list3:
    print("yes,'mango' in the fruit list")

yes,'mango' in the fruit list

In [76]:
list4=["orange", "kiwi", "mango"]
if "pineapple" not in list4:
    print("No, this is not in this list")

No, this is not in this list

# Change List Item

In [2]:
thislist=["apple", "banana", "watermelon","mango"]
thislist[2]="grapes"
print(thislist)

['apple', 'banana', 'grapes', 'mango']

In [3]:
list1=["apple", "banana", "watermelon","mango"]
list1[1]="orange"
print(list1)

['apple', 'orange', 'watermelon', 'mango']

In [7]:
# Change a range of item value
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2[2:4]=["watermelon","grapes"]
print(list2)

['apple', 'banana', 'watermelon', 'grapes', 'kiwi', 'mango']

In [8]:
list3 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list3[1:3]=["lemon", "chilli"]
print(list3)

['apple', 'lemon', 'chilli', 'orange', 'kiwi', 'mango']

In [10]:
list4=["apple", "banana", "pineapple","watermelon"]
list4[2:3]=["grapes", "blackcurrent"]
print(list4)

['apple', 'banana', 'grapes', 'blackcurrent', 'watermelon']

In [13]:
list5=["apple", "banana", "pineapple","watermelon"]
list5[1:3]=["grapes"]
print(list5)

['apple', 'grapes', 'watermelon']

In [17]:
# Insert
list6=["apple", "banana", "pineapple","watermelon"]
list6.insert(3 ,"orange")
print(list6)

['apple', 'banana', 'pineapple', 'orange', 'watermelon']

# Add List Item

In [22]:
# Append List

thislist=["apple","banana","orange"]
thislist.append("grapes")
print(thislist)

list2=["cherry", "pineapple","watermelon"]
list2.append("mango")
print(list2)

['apple', 'banana', 'orange', 'grapes']
['cherry', 'pineapple', 'watermelon', 'mango']

In [24]:
#insert List

thislist=["apple","banana","cherry"]
thislist.insert(0 ,"watermelon")
print(thislist)

list2=["watermelon","blackcurrent","kiwi","mango"]
list2.insert(2 ," muskmelon")
print(list2)

['watermelon', 'apple', 'banana', 'cherry']
['watermelon', 'blackcurrent', ' muskmelon', 'kiwi', 'mango']

In [25]:
# Extend List
thislist=["apple","banana","cherry"]
list2=["watermelon","blackcurrent", "kiwi", "mango"]
thislist.extend(list2)
print(thislist)

['apple', 'banana', 'cherry', 'watermelon', 'blackcurrent', 'kiwi', 'mango']

In [26]:
thislist=["apple","banana","orange", "muskmelon"]
list3=["cherry", "pineapple","watermelon", "kiwi"]
thislist.extend(list3)
print(thislist)

['apple', 'banana', 'orange', 'muskmelon', 'cherry', 'pineapple', 'watermelon', 'kiwi']

# Remove List Item

In [28]:
#Remove specifid Item
list1=["mango", "grapes", "orange", "kiwi"]
list1.remove("kiwi")
print(list1)

list1.remove("grapes")
print(list1)

['mango', 'grapes', 'orange']
['mango', 'orange']

In [31]:
# Remove Specified Index
list2=["apple","banana","orange", "muskmelon"]
list2.pop(2)
print(llist2)


list3=["pen", "pencil", "eraser", "bag", "notebook","pan"]
list3.pop(5)
print(list3)

['apple', 'banana', 'muskmelon']
['pen', 'pencil', 'eraser', 'bag', 'Notebook']

In [33]:
# del
thislist=["apple","banana","orange", "muskmelon"]
del thislist[2]
print(thislist)

list2=["pen", "pencil", "eraser", "bag", "notebook","pan"]
del list2[4]
print(list2)

['apple', 'banana', 'muskmelon']
['pen', 'pencil', 'eraser', 'bag', 'pan']

In [35]:
# Clear the list
list3=["watermelon", "blackcurrent","kiwi","mango"]
list3.clear()
print(list3)

list4=["pen", "pencil", "eraser", "bag", "notebook","pan"]
list4.clear()
print(list4)

[]
[]

# Loop List

In [37]:
list=["pen", "pencil", "notebook","bag"]
for x in list:
    print(x)

list2=["apple","banana","mango","kiwi"]
for y in list2:
    print(y)

pen
pencil
notebook
bag
apple
banana
mango
kiwi

In [38]:
# Using While Loop
thislist=["apple","pineapple", "custeredapple","watermelon","muskmelon"]
i=0
while i <len (thislist):
    print(thislist[i])
    i=i+1

apple
pineapple
custeredapple
watermelon
muskmelon

In [39]:
list2=["apple","pineapple", "custeredapple","watermelon","muskmelon"]
x=2
while x < len(list2):
    print(list2[x])
    x=x+1

custeredapple
watermelon
muskmelon

In [40]:
list3=["apple","pineapple", "custeredapple","watermelon","muskmelon"]
a=0
while a < len(list3):
    print(list3[a])
    a=a+2

apple
custeredapple
muskmelon

In [45]:
# Looping Using List Comprehension

list1=["pen", "pencil", "eraser", "bag", "notebook","pan"]
[print(x) for x in list1]

pen
pencil
eraser
bag
notebook
pan

[None, None, None, None, None, None]

In [46]:
list2=["apple","pineapple", "custeredapple","watermelon","muskmelon"]
y=[]
[print(y) for y in list2]

apple
pineapple
custeredapple
watermelon
muskmelon

[None, None, None, None, None]

# List Copmrehension

In [6]:
fruits=["apple","banana", "cherry","kiwi","mango"]
newlist=[]
for y in fruits:
if "a" in y:
newlist.append(y)
print(newlist)

IndentationError: expected an indented block after 'for' statement on line 3 (3519574.py, line 4)

In [19]:
fruits=["apple","banana", "cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [21]:
# Condition
fruits=["apple","banana", "cherry","kiwi","mango","grapes"]
newlist=[y for y in fruits if y !="apple"]
print(newlist)

newlist=[z for z in fruits if z !="cherry"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango', 'grapes']
['apple', 'banana', 'kiwi', 'mango', 'grapes']

In [22]:
# withouht if condition
list1=["apple","banana", "cherry","kiwi","mango","watermelon", "mango"]
newlist=[x for x in list1]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon', 'mango']

In [26]:
# iterable
#use range
newlist=[a for a in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# with condition
newlist=[x for x in range(10) if x >5]
print(newlist)

[6, 7, 8, 9]

In [1]:
#Expression 
list1=["apple","banana", "cherry","kiwi","mango","watermelon", "mango"]
newlist=[x.upper() for x in list1]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO', 'WATERMELON', 'MANGO']

In [3]:
list2=["apple","banana", "cherry","kiwi","mango","watermelon", "mango"]
newlist=['fruits' for x in list2]
print(newlist)

['fruits', 'fruits', 'fruits', 'fruits', 'fruits', 'fruits', 'fruits']

In [4]:
# Expresswion with condition
list3=["apple","banana", "cherry","kiwi","mango","watermelon", "mango"]
newlist=[z if z !="kiwi" else "grapes" for z in list3]
print(newlist)

['apple', 'banana', 'cherry', 'grapes', 'mango', 'watermelon', 'mango']

In [7]:
list4=["Apple","Banana", "Cherry","Kiwi","Mango","Watermelon", "Mango"]
newlist=[a.lower() for a in list4]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon', 'mango']

In [8]:
thislist=["apple","banana", "cherry","kiwi","mango","grapes"]
newlist=["Hello" for x in thislist]
print(newlist)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello']

# Sort List

In [10]:
# sort list alphabetically
list=["school", "bag","pen", "pencil", "notebook", "textbook"]
list.sort()
print(list)


list2=[15,18, 23, 45, 67,87, 43,90,28,93,99, 43, 100]
list2.sort()
print(list2)

['bag', 'notebook', 'pen', 'pencil', 'school', 'textbook']
[15, 18, 23, 28, 43, 43, 45, 67, 87, 90, 93, 99, 100]

In [13]:
# Sort Descending
list3=["school", "bag","pen", "pencil", "notebook", "textbook"]
list3.sort(reverse= True)
print(list3)


list4=[15,18, 23, 45, 67,87, 43,90,28,93,99, 43, 100]
list4.sort(reverse= True)
print(list4)

['textbook', 'school', 'pencil', 'pen', 'notebook', 'bag']
[100, 99, 93, 90, 87, 67, 45, 43, 43, 28, 23, 18, 15]

In [25]:
# Cutomize Sort Function 
def myfunc (n):
    return  abs(n-25)
list1=[15,18, 23, 45]
list1.sort(key= myfunc)
print(list1)

[23, 18, 15, 45]

In [47]:
def myfunc (n):
    return  (n-20)
list2=[23,15, 48,53,89,100]
list2.sort(key= myfunc)
print(list2)

[15, 23, 48, 53, 89, 100]

In [27]:
def myfunc (n):
    return ()
list2=["school", "bag","pen", "pencil", "notebook", "textbook"]
list2.sort(key=myfunc)
print(list2)

['school', 'bag', 'pen', 'pencil', 'notebook', 'textbook']

In [38]:
thislist=["mango","Banana", "Orange", "kiwi","Grapes"]
thislist.sort()
print(thislist)

['Banana', 'Grapes', 'Orange', 'kiwi', 'mango']

In [37]:
# Case Insensitive sort

thislist2=["Apple", "kiwi", "Banaana", "Orange", 'grapes']
thislist2.sort (key=str. lower)
print(thislist2)

['Apple', 'Banaana', 'grapes', 'kiwi', 'Orange']

In [41]:
# Reverse Order

thislist=["Apple", "kiwi", "Banaana", "Orange", 'grapes']
thislist.reverse()
print(thislist)

['grapes', 'Orange', 'Banaana', 'kiwi', 'Apple']

# Copy List

In [49]:
# Using Copy

thislist=["apple", "kiwi", "banaana", "orange", 'grapes']
list2= thislist.copy()
print(list2)

['apple', 'kiwi', 'banaana', 'orange', 'grapes']

In [1]:
# Using List
thislist=["school", "bag","pen", "pencil", "notebook", "textbook"]
list4= list(thislist)
print(list4)

['school', 'bag', 'pen', 'pencil', 'notebook', 'textbook']

# Join List

In [2]:
# Using +
list1=["apple", "orange","pineapple","muskmelon"]
list2=[1,2,3,4,5]
list3= list1+ list2
print(list3)

['apple', 'orange', 'pineapple', 'muskmelon', 1, 2, 3, 4, 5]

In [5]:
# Using Append
list1=["apple", "orange","pineapple","muskmelon"]
list2=[6,7,8,9,10]

for y in list2:
    list1.append(y)
    print(list1)

[6, 7, 8, 9, 10, 'apple']
[6, 7, 8, 9, 10, 'apple', 'orange']
[6, 7, 8, 9, 10, 'apple', 'orange', 'pineapple']
[6, 7, 8, 9, 10, 'apple', 'orange', 'pineapple', 'muskmelon']

In [4]:
list1=["apple", "orange","pineapple","muskmelon"]
list2=[1,2,3,4,5]
list2.extend (list1)
print(list2)

[1, 2, 3, 4, 5, 'apple', 'orange', 'pineapple', 'muskmelon']

# Tuple

In [1]:
thistuple=("school", "class", "window", "boared", "teacher")
print(len (thistuple))

5

In [9]:
#One Item tuple
tuplelist=("school",)
print(tuplelist)

print(type(tuplelist))

tuplelist2=("school")
print(type(tuplelist2))

('school',)
<class 'tuple'>
<class 'str'>

In [6]:
# Tuple Item-Data Type 
tuplelist1=("school", "class", "window", "boared", "teacher")
tuplelist2=(1,4,6,3,7,5)
tuplelist3=(True, False, False,True)

print(tuplelist1)
print(tuplelist2)
print(tuplelist3)

('school', 'class', 'window', 'boared', 'teacher')
(1, 4, 6, 3, 7, 5)
(True, False, False, True)

In [7]:
#contain Difrent Data Type
tuplelist=("school", 7, False, "class", 3,True,"teacher")
print(tuplelist)

('school', 7, False, 'class', 3, True, 'teacher')

In [14]:
list1=tuple(("school", "class", "window", "boared", "teacher","pen"))
print(list1)

('school', 'class', 'window', 'boared', 'teacher', 'pen')

# Access tuple

In [10]:
tuplelist=("school", "class", "window", "boared", "teacher")
print(tuplelist[2])

window

In [11]:
tuplelist2=("school", "class", "window", "boared", "teacher")
print(tuplelist2[-2])

boared

In [15]:
# Range of index
tuplelist3=("school", "class", "window", "boared", "teacher", "textbook")
print(tuplelist3[1:5])

('class', 'window', 'boared', 'teacher')

In [16]:
# Leaving out Start value

tuplelist4=("school", "class", "window", "boared", "teacher","notebook")
print(tuplelist4[ :4])

('school', 'class', 'window', 'boared')

In [17]:
# Leaving out End value
tuplelist5=("school", "class", "window", "boared", "teacher","book")
print(tuplelist5[2: ])

('window', 'boared', 'teacher', 'book')

In [18]:
# Range of Negative index
tuplelist6=("school", "class", "window", "boared", "teacher","pen", "pencil")
print(tuplelist6[-5:-1])

('window', 'boared', 'teacher', 'pen')

In [13]:
#check If Item Exist
tuplelist=("school", "class", "window", "boared", "teacher")
if "pen" not in tuplelist:
    print("No, 'pen',is Not in the tuplelist")

No, 'pen',is Not in the tuplelist

# Update Tuples

In [16]:
# convert in a list to be able to change it
thistuple=("apple", "banana", "cherry","kiwi")
y=list(thistuple)
y[2]="grapes"
thistuple= tuple(y)
print(thistuple)

('apple', 'banana', 'grapes', 'kiwi')

In [17]:
# Add Items 
# 1.convert in to a list

tuplelist1=("school", "class", "window", "boared")
a=list(tuplelist1)
a.append("teacher")
tuplelist1=tuple(a)
print(tuplelist1)

('school', 'class', 'window', 'boared', 'teacher')

In [18]:
# 2.Add tuple to a tuple
tuplelist2=("school", "class", "window", "boared")
x=("notebook",)
tuplelist2 += x
print(tuplelist2)

('school', 'class', 'window', 'boared', 'notebook')

In [19]:
# Remove Items
tuplelist3=("school", "class", "banana", "boared", "teacher")
y=list(tuplelist3)
y.remove("banana")
tuplelist3=tuple(y)
print(tuplelist3)

('school', 'class', 'boared', 'teacher')

# Loop Tuple

In [20]:
# Using for
tuplelist=("school", "class", "window", "boared", "teacher")
for x in tuplelist:
    print(x)

school
class
window
boared
teacher

In [22]:
# Using While
tuplelist2=("school", "class", "window", "boared", "teacher")
y=0
while y <len(tuplelist2):
    print(tuplelist2[y])
    y=y+1

school
class
window
boared
teacher

In [24]:
tuplelist3=("school", "class", "window", "boared", "teacher")
x=0
while x <len(tuplelist3):
    print(tuplelist3[x])
    x=x+2

school
window
teacher

# Join Tuple

In [25]:
# Join Two tuple
tuple1=("a","b", "c","d")
tuple2=(1,3,7,9,5,)
tuple3= tuple1+ tuple2
print(tuple3)

('a', 'b', 'c', 'd', 1, 3, 7, 9, 5)

In [27]:
# Multiply Tuple
tuplelist=("apple", "cherry", "grapes")
mytuple= tuplelist*3
print(mytuple)

('apple', 'cherry', 'grapes', 'apple', 'cherry', 'grapes', 'apple', 'cherry', 'grapes')

# set

In [2]:
# len
set1={"apple", "banana","grapes", "orange","kiwi"}
print(len(set1))

set2={"school", "class", "window", "boared"}
print(len(set2))

5
4

In [4]:
# Duplicate Not Allowed
set1={"apple", "banana","cherry","apple", "kiwi","cherry"}
print(set1)

set2={"school", "class", "window", "boared", "window","boared"}
print(set2)

{'cherry', 'apple', 'banana', 'kiwi'}
{'class', 'school', 'window', 'boared'}

In [5]:
# Store any data type
set1={"apple", "cherry", "banana","orange"}
set2={1,6,4,8,4,3,9,7}
set3={True ,False, True, False, True}

print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana', 'orange'}
{1, 3, 4, 6, 7, 8, 9}
{False, True}

In [7]:
#cantain any data type
set={"school", "apple", "True", "23","false","71"}
print(set)

set1={"teacher", "kiwi",41 , False, 7 , True, 67}
print(set1)

{'school', 'apple', 'false', '23', 'True', '71'}
{False, True, 67, 7, 'teacher', 'kiwi', 41}

In [8]:
settype={"school", "class", "window", "boared", "teacher"}
print(type(settype))

<class 'set'>

In [1]:
# The set() Constructer
set1= set(("school", "class", "window", "boared", "teacher"))
print(set1)
print(type(set1))

{'teacher', 'class', 'boared', 'school', 'window'}
<class 'set'>

# Access set items

In [4]:
#loop
set1={"school", "class", "window", "boared"}
for x in set1:
    print(x)
    
    
set2={"apple", "banana", "cherry", "grapes"}
for y in set2:
    print(y)

class
boared
window
school
apple
cherry
banana
grapes

In [6]:
# If
thisset={"school", "class", "window", "boared"}
print("class" in thisset)

set2={"school", "class", "window", "boared", "teacher"}
print("banaan" in set2)

True
False

# Add set item

In [8]:
# Using add

thisset={"banana", "orange", "kiwi", "cherry"}
thisset.add("grapes")
print(thisset)

thisset2={"school", "class", "window", "boared"}
thisset2.add("teacher")
print(thisset2)

{'cherry', 'orange', 'grapes', 'kiwi', 'banana'}
{'teacher', 'class', 'boared', 'school', 'window'}

In [2]:
# Using Update
set1={"apple", "cherry", "Kiwi", "banaan"}
set2={"school", "class", "boared", "teacher"}
set1.update(set2)
print(set1)


set3={"pineapple", "custeredapple", "watermelon", "muskmelon"}
set4={"teacher", "study", "book","cariar" }
set3.update(set4)
print(set3)

{'banaan', 'apple', 'boared', 'cherry', 'Kiwi', 'teacher', 'class', 'school'}
{'pineapple', 'cariar', 'teacher', 'book', 'watermelon', 'muskmelon', 'study', 'custeredapple'}

In [5]:
# Add Any Iterable
thisset={"pineapple", "banana","cherry"}
thislist=["school", "class", "window"]
thisset.update(thislist)
print(thisset)

{'pineapple', 'cherry', 'class', 'banana', 'school', 'window'}

# Remove set Items

In [11]:
# Using remove
set1={"school", "class", "window", "boared", "teacher"}
set1.remove("window")
print(set1)

set2={"cherry", "orange", "grapes", "mango","pineapple"}
set2.remove('pineapple')
print(set2)

{'boared', 'teacher', 'class', 'school'}
{'orange', 'mango', 'cherry', 'grapes'}

In [12]:
# Using discard
set3={"apple", "cherry", "grapes", "muskmelon"}
set3.discard("muskmelon")
print(set3)


set4={"school", "class", "window", "boared","holiday"}
set4.remove("holiday")
print(set4)

{'cherry', 'apple', 'grapes'}
{'boared', 'class', 'school', 'window'}

In [15]:
# Using pop
thisset={"school", "class", "window", "boared", "teacher"}
thisset.pop()
print(thisset)

{'teacher', 'class', 'school', 'window'}

In [18]:
thisset2={"school", "class", "window", "boared", "teacher"}
thisset2.clear()
print(thisset2)

thisset3={"orange", "mango","grapes", "cherry"}
thisset3.clear()
print(thisset3)

set()
set()

# Join sets

In [20]:
# Using Union
set1={"cherry", "grapes", "mango", "orange"}
set2={"google", "wikipedia", "mango", "microsoft"}
set3= set1.union(set2)
print(set3)



set3={"apple", "banana","pineapple"}
set4={"cherry", "grapes", "banana"}
set5=set3.union(set4)
print(set5)

{'orange', 'wikipedia', 'microsoft', 'cherry', 'google', 'mango', 'grapes'}
{'pineapple', 'apple', 'cherry', 'grapes', 'banana'}

In [22]:
#Using update

set1={"cherry", "grapes", "mango", "orange"}
set2={"google","wikipedia", "mango", "microsoft"}
set1.update(set2)
print(set1)


set3={"apple","banana" , "pineapple"}
set4={"cherry", "grapes","banana"}
set3.update(set4)
print(set3)

{'orange', 'wikipedia', 'microsoft', 'cherry', 'google', 'mango', 'grapes'}
{'pineapple', 'apple', 'cherry', 'grapes', 'banana'}

In [3]:
# intersection-update
set1={"cherry", "grapes", "mango", "orange"}
set2={"google","wikipedia", "mango", "microsoft"}
set1.intersection_update(set2)
print(set1)


set3={"apple","banana" , "pineapple"}
set4={"cherry", "grapes","banana"}
set3.intersection_update(set4)
print(set3)

{'mango'}
{'banana'}

In [5]:
#intersection
set1={"cherry", "grapes", "mango", "orange"}
set2={"google","wikipedia", "mango", "microsoft"}
set3= set1.intersection(set2)
print(set3)


set3={"apple","banana" , "pineapple"}
set4={"cherry", "grapes","banana"}
set5= set3.intersection(set4)
print(set5)

{'mango'}
{'banana'}

In [8]:
# symmetric_diffrence_update
set1={"cherry", "grapes", "mango", "orange"}
set2={"google","wikipedia", "mango", "microsoft"}
set1.symmetric_difference_update(set2)
print(set1)


set3={"apple","banana" , "pineapple"}
set4={"cherry", "grapes","banana"}
set3.symmetric_difference_update(set4)
print(set3)

{'cherry', 'wikipedia', 'microsoft', 'google', 'grapes', 'orange'}
{'cherry', 'pineapple', 'apple', 'grapes'}

In [10]:
# symmetric_difference
set1={"cherry", "grapes", "mango", "orange"}
set2={"google","wikipedia", "mango", "microsoft"}
set3= set1.symmetric_difference(set2)
print(set3)


set3={"apple","banana" , "pineapple"}
set4={"cherry", "grapes","banana"}
set5= set3.symmetric_difference(set4)
print(set5)

{'cherry', 'microsoft', 'google', 'orange', 'grapes', 'wikipedia'}
{'pineapple', 'apple', 'cherry', 'grapes'}

# Dictionaries

In [13]:
# Duplicates not allowed
thisdic={
"brand": "ford",
"modle": "mustang",
"year": 1940,
"year": 1989 
}
print(thisdic)

{'brand': 'ford', 'modle': 'mustang', 'year': 1989}

In [15]:
#len 
thisdic={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}
print(len(thisdic))


thisdic={

"Name" : "Hazra",
"surname" : "khan",
"Age" : 21,
"Hobby": "cooking"
}
print(len(thisdic))

3
4

In [16]:
# Any Data Type
thisdic= {
    
"Name"  : "Hazra",
"Age"   :  20,
"talented": True,
 "Hobby"  : ["cooking", "reading","Daceing"],
}
print(thisdic)

{'Name': 'Hazra', 'Age': 20, 'talented': True, 'Hobby': ['cooking', 'reading', 'Daceing']}

In [17]:
thisdic={
"brand": "ford",
"modle": "mustang",
"year": 1940,
"year": 1989 
}
print(type(thisdic))

<class 'dict'>

# Access Items

In [20]:
dic1={
"brand": "ford",
"modle": "mustang",
"year": 1940,
"year": 1989 
}
x=dic1["brand"]
print(x)

ford

In [23]:
# Using Get
dic2={
"brand": "ford",
"model": "mustang",
"year": 1940,
}
y=dic2.get("model")
print(y)

mustang

In [3]:
# Kyes
dic3={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}
z= dic3.keys()
print(z)

dic3["color"]="red"
print(z)

dict_keys(['brand', 'modle', 'year'])
dict_keys(['brand', 'modle', 'year', 'color'])

In [28]:
# Values
dic4={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}
a=dic4.values()
print(a) # before changes

dic4["color"]= "white"
print(a) # after changes

dict_values(['ford', 'mustang', 1940])
dict_values(['ford', 'mustang', 1940, 'white'])

In [1]:
# Items
dic5={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}
b=dic5.items() # before changes
print(b)

dic5["color"]= "red" 
print(b) # after changes

dict_items([('brand', 'ford'), ('modle', 'mustang'), ('year', 1940)])
dict_items([('brand', 'ford'), ('modle', 'mustang'), ('year', 1940), ('color', 'red')])

In [10]:
# If condition 
dic1= {
"brand": "ford",
"modle": "mustang",
"year": 1940,
}
if "year" in dic1:
    print("yes, 'year', is present in dictionary")
    
    
dic2= {

"Name"  :  "iqra",
"surname": "sheikh",
"Age"    :  "10"
}
if "qualification" not in dic2:
    print("NO, 'qualifition' is not in dictionary set.")

yes, 'year', is present in dictionary
NO, 'qualifition' is not in dictionary set.

# Change Items

In [13]:
# using Keys

dict1={

"brand": "ford",
"modle": "mustang",
"year": 1940,
}
dict1["brand"]="maruti"
print(dict1)

dict1["year"]=  "1990"
print(dict1)

{'brand': 'maruti', 'modle': 'mustang', 'year': 1940}
{'brand': 'maruti', 'modle': 'mustang', 'year': '1990'}

In [3]:
# using update
dict2={
    
"Name"    :     "yusuf",
"surname" :     "sheikh",
"qualification" : 10,
"Age"      :   13,
}

dict2.update({"qualifition" : 7})
print(dict2)


dict3= {
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict3.update({"brand" : "BMW"})
print(dict3)

{'Name': 'yusuf', 'surname': 'sheikh', 'qualification': 10, 'Age': 13, 'qualifition': 7}
{'brand': 'BMW', 'modle': 'mustang', 'year': 1940}

# Add Items

In [6]:
# Using Keys

dict1= {

"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict1["year2"]= 1990
print(dict1)}


dict2={
 
"Name"             :         "Aaliya",
"surname"          :         "manihar",
"Age"              :          8
}

dict2["qualification"] =  3
print(dict2)

{'brand': 'ford', 'modle': 'mustang', 'year': 1940, 'year2': 1990}
{'Name': 'Aaliya', 'surname': 'manihar', 'Age': 8, 'qualification': 3}

In [8]:
# using Update
dict1= {
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict1.update({"year2" :  1964})
print(dict1)


dict2={

"Name"             :         "Ahana",
"surname"          :         "manihar",
"Age"              :          8
}

dict2.update({"qualification" : 2})
print(dict2)

{'brand': 'ford', 'modle': 'mustang', 'year': 1940, 'year2': 1964}
{'Name': 'Ahana', 'surname': 'manihar', 'Age': 8, 'qualification': 2}

# Remove Items

In [12]:
#  Using pop methode

dict1={

"Name"             :         "Aaliya",
"surname"          :         "manihar",
"Age"              :          8
}
dict1.pop("surname")
print(dict1)

dict2={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict2.pop("brand")
print(dict2)

{'Name': 'Aaliya', 'Age': 8}
{'modle': 'mustang', 'year': 1940}

In [17]:
# Using popitem 

dict3={    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict3.popitem()
print(dict3)

dict4={
    
"Name"             :         "Aiman",
"surname"          :         "manihar",
"Age"              :          9,
 "qualification"   :         3
}
dict4.popitem()
print(dict4)

{'brand': 'ford', 'modle': 'mustang'}
{'Name': 'Aiman', 'surname': 'manihar', 'Age': 9}

In [19]:
# using del

dict5={
    
"Name"             :         "Aaliya",
"surname"          :         "manihar",
"Age"              :          8,
"qualification"    :          3
}

del dict5["Age"]
print(dict5)

dict5={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

del dict5["year"]
print(dict5)

{'Name': 'Aaliya', 'surname': 'manihar', 'qualification': 3}
{'brand': 'ford', 'modle': 'mustang'}

In [20]:
# using Clear Methode

dict1={
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

dict1.clear()
print(dict1)

{}

# Loop Dictionaries

In [21]:
# print keys 
dict1={
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

for x in dict1:
    print(x)

brand
modle
year

In [22]:
# print values

dict2={
    
"Name"             :         "Aaliya",
"surname"          :         "manihar",
"Age"              :          8,
"qualification"    :          3
}
for y in dict2:
    print(dict2[y])

Aaliya
manihar
8
3

In [7]:
# Also use values

dict3={
    
"Name"             :         "Aamina",
"surname"          :         "seikh",
"Age"              :          10,
"qualification"    :          5
}

for x in dict3.values():
    print(x)
        
 
dict4= {
     
"brand": "ford",
"modle": "mustang",
"year": 1940,
 }
for y in dict4.values():
    print(y)

Aamina
seikh
10
5
ford
mustang
1940

In [9]:
# Also use keys 

dict5={
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

for a in dict5.keys():
    print(a)

dict6={
   
"Name"             :         "Aamina",
"surname"          :         "seikh",
"Age"              :          10,
"qualification"    :          5
}
for b in dict6.keys():
    print(b)

brand
modle
year
Name
surname
Age
qualification

In [11]:
# using Items

dict7={
    
"Name"             :         "Aamina",
"surname"          :         "seikh",
"Age"              :          10,
"qualification"    :          5
}

for m,n in dict7.items():
    print(m,n)
    

dict8={
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

for o,p in dict8.items():
    print(o,p)

Name Aamina
surname seikh
Age 10
qualification 5
brand ford
modle mustang
year 1940

# copy Dictionaries

In [17]:
# using copy
dict1={
     
"brand": "ford",
"modle": "mustang",
"year": 1940,
 }
mydict= dict1.copy()
print(mydict)

dict2={
    
"Name"             :         "Aamina",
"surname"          :         "seikh",
"Age"              :          10,
"qualification"    :          5
}
thisdict= dict2.copy()
print(thisdict)

{'brand': 'ford', 'modle': 'mustang', 'year': 1940}
{'Name': 'Aamina', 'surname': 'seikh', 'Age': 10, 'qualification': 5}

In [19]:
# using dict()

dict3={
    
"brand": "ford",
"modle": "mustang",
"year": 1940,
}

thisdict= dict(dict3)
print(thisdict)


dict4={    
"Name"             :         "Aamina",
"surname"          :         "seikh",
"Age"              :          10,
"qualification"    :          5
}
mydict= dict(dict4)
print(mydict)

{'brand': 'ford', 'modle': 'mustang', 'year': 1940}
{'Name': 'Aamina', 'surname': 'seikh', 'Age': 10, 'qualification': 5}

# Nested Dictionaries

In [22]:
myfamily={
"child1"     : {
 "Name"      : "Emil",
 "year"      : 2004
},
 
"child2"  :  {
"Name"    :  "Tobias",
"year"    :   2007
},

"child3"  :  {
"Name"    : "Linus",
" year"   : 2010
}
}
print(myfamily)

{'child1': {'Name': 'Emil', 'year': 2004}, 'child2': {'Name': 'Tobias', 'year': 2007}, 'child3': {'Name': 'Linus', ' year': 2010}}

In [1]:
# Add Three dictionaries into a dictionary

Child1= {
"Name"      :  "Hazra",
"Age"      :  14,
"Height"    :   4
}
Child2= {
"Name"      :  "Mubushra",
"Age"       :   11,
"Height"    :   4
}
Child3= {
"Name"      :  "Iqra",
"Age"       :  10,
"Height"    :  3
}    

myfamily= {
"Child1"   = Child1,
"Child2"   = Child2,
"Child3"   = Child3
}

print(myfamily)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2877428136.py, line 20)

# STRING TASK QUS

In [3]:
# Program to check if a string is palindrome or not

my_str = 'RACEcar'
my_str = my_str.casefold()

rev_str = reversed(my_str)

if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [5]:
2.
a="this Is My"
b="First Task"
c=a+"  "+b
print(c)

this Is My  First Task

In [1]:
3.
def Convert(string):
    li = list(string.split(" "))
    return li
  
# Driver code    
str1 = "This Is first Task"
print(Convert(str1))

['This', 'Is', 'first', 'Task']

In [19]:
 4.
mystr ="Be positive  Never give up "
words=mystr.split()
words.sort
for word in words:
    print(word)

Be
positive
Never
give
up

In [5]:
5.
# 1 LOOPING THRUOGH A STRING
for x in "banana":
    
    print(x)

b
a
n
a
n
a

In [6]:
5.2
# srting len
a="In this world nothing is immpossible"
print(len(a))

36

In [8]:
5.3
# Slicing
b="Be positive , Never Give up"
print(b[5:24])

sitive , Never Give

In [9]:
5.4
# Upper case
x="Be , Positive"
print(x.upper())

BE , POSITIVE

In [10]:
5.5
# Lower case
b= "Never Give Up ,Try Harder"
print(b.lower())

never give up ,try harder

In [20]:
5.5
# Replace string
y= "we ,positive."
print(y.replace("w", "B"))

Be ,positive.

In [21]:
5.6
# string concatention
a="Never Give Up"
b="Python Is Easy"
c=a+ " " +b
print(c)

Never Give Up Python Is Easy

In [25]:
5.7
# title
string="sometime we dont know the value of moment"
print(string.title())

Sometime We Dont Know The Value Of Moment

In [28]:
5.8
# casefold 
string= "Until Its Become A Memory"
print(string.casefold())

until its become a memory

In [27]:
5.9
# swapcase
string= "sometime we dont knoe the value of moment"
print(string.swapcase())

SOMETIME WE DONT KNOE THE VALUE OF MOMENT

In [32]:
5.10 
# join 
string1= "sometime we dont knoe the value of moment"
print(string1.find ("e"))

3

In [5]:
6.
# slice from the start
b="Hello , people"
print(b[ : 6])


# slice from the end
c= "Hello , people"
print(c[5 : ])


# negative
d= "Hello , World"
print(d[-6: -1])


e="Hello world"
print(e[5 : 11])

Hello
 , people
 Worl
 world

In [1]:
x= "in this world nothing is immposible"
"this" in x

True

# If .....Else

In [6]:
# If
a=33
b=220
if b > a:
    print("b is greater than a")


    
x=325
y=150
if x > y:
    print("x is greater than y")

b is greater than a
x is greater than y

In [8]:
# Elif
a=44
b=250
if b < a:
    print("b is less than a")
elif b > a:
    print("b is greater than a")

    
x=300
y=250
if y > x:
    print("y is greater than x")
elif x > y :
    print("x is greater than y")

b is greater than a
x is greater than y

In [4]:
# Else
a=250
b=150
if b> a:
    print("b is greater than a")
elif b==a :
    print("b and a are equal")
else: a> b
print("'a' is greater than b")

'a' is greater than b

In [5]:
m=250
n=250
if m > n:
    print("'m' is greater than n")
elif m < n:
    print("'m' is less than n ")
else:
    print("'m' and  n are equal")

'm' and  n are equal

In [8]:
p=171
q=200
if p > q:
    print("p is greater than q")
else:q >p
print("q is greater than p")

q is greater than p

In [10]:
# If short hand
a=200
b=195
if a > b: print("a is greater than b")
    
x=150
y=160
if y > x: print("y is greater than x")

a is greater than b
y is greater than x

In [12]:
# else short hand
a=200
b=200
print("b is greater than a")if b> a else ("a and b are equal")

'a and b are equal'

In [15]:
# one line if else statement whith three condition
a= 400
b= 450
print("a")if a > b else print("=")if a==b else print("b")


x=251
y=251
print("x")if x > y else print("y")if y > x else print("=")

b
=

In [19]:
# And
a=400
b=300
c=350
if a >b and c <a :
    print("both statement are right")
    
x=300
y=305
z= 150
if y >x and x > z:
    print("Both statement are right")

both statement are right
Both statement are right

In [20]:
# or
a= 400
b=300
c=350
if a > c or b > c:
    print("At least one of the condition are true")

At least one of the condition are true

In [21]:
# Nested if
y=53
if y >20:
    print("above 20")
if y >35:
    print("And also above 30")
else:
    print("but not above 60")

above 20
And also above 30

# List Task

In [24]:
#  5 diffrent list using comrehension
vegitables=["cabbage", "chilli", "lady finger", "brinjal", "tomato"]
newlist=[x for x in vegitables if "i" in x]
print(newlist)

['chilli', 'lady finger', 'brinjal']

In [33]:
# 1.2
list1=["cabbage", "chilli", "lady finger", "brinjal", "tomato"]
newlist=[y for y in list1 if y!="chilli"]
print(newlist)

['cabbage', 'lady finger', 'brinjal', 'tomato']

In [30]:
# 1.3
list2=["apple", "banana", "mango", "grapes", "orange"]
newlist=[x for x in list2]
print(newlist)

['apple', 'banana', 'mango', 'grapes', 'orange']

In [34]:
# 1.4 
list3=[x for x in range(21) if x%3 == 0]
print(list3)

[0, 3, 6, 9, 12, 15, 18]

In [35]:
#1.5
list4=[y for y in range(15) if y >7]
print(list4)

[8, 9, 10, 11, 12, 13, 14]

In [5]:
# 2 print largest number
list1=[ 19, 5, 13, 32, 40, 250, 400, 7,38, 450]
x= max (list1)
print(x)

450

In [36]:
#3 check given number is present or not
list1=[3, 10, 17, 22, 39, 41]
if 39 in list1:
    print("yes given number is present")

yes given number is present

In [37]:
#4 Demonstrate any 10 methods
# 4.1 append

list1=["apple", "banana", "orange", "mango"]
list1.append("kiwi")
print(list1)

['apple', 'banana', 'orange', 'mango', 'kiwi']

In [38]:
# 4.2 copy
list1=["pineapple", "watermelon", "muskmelon", "custered-apple"]
list2= list1.copy()
print(list2)

['pineapple', 'watermelon', 'muskmelon', 'custered-apple']

In [39]:
# 4.3 clear
list1=["cabbage", "chilli", "tomato", "potato","brinjal"]
list1.clear()
print(list1)

[]

In [43]:
# 4.4 extend
list2=["cabbage", "chilli", "lady finger", "brinjal", "tomato"]
list3=["pineapple", "watermelon", "muskmelon", "custered-apple"]
list2.extend (list3)
print(list2)

['cabbage', 'chilli', 'lady finger', 'brinjal', 'tomato', 'pineapple', 'watermelon', 'muskmelon', 'custered-apple']

In [45]:
# 4.5 insert
list1=["pineapple", "watermelon", "muskmelon"]
list1. insert(2, "orange")
print(list1)

['pineapple', 'watermelon', 'orange', 'muskmelon']

In [46]:
# 4.6 pop
list2=["pineapple", "watermelon", "muskmelon", "custered-apple"]
list2.pop()
print(list2)

['pineapple', 'watermelon', 'muskmelon']

In [47]:
# 4.7 remove
list3=["pineapple", "watermelon", "muskmelon", "orange", "custered-apple"]
list3.remove("orange")
print(list3)

['pineapple', 'watermelon', 'muskmelon', 'custered-apple']

In [48]:
# 4.8 reverse
list4=["cabbage", "chilli", "tomato", "potato","brinjal"]
list4.sort(reverse= True)
print(list4)

['tomato', 'potato', 'chilli', 'cabbage', 'brinjal']

In [49]:
# 4.9 sort
list1=["pineapple", "watermelon", "muskmelon", "custered-apple"]
list1.sort()
print(list1)

['custered-apple', 'muskmelon', 'pineapple', 'watermelon']

In [52]:
# 4.10 index
list1=["pineapple", "watermelon", "muskmelon", "orange", "mango"]
y=list1.index("orange")
print(y)

3

In [57]:
# 5 Add two list
list1=["orange", "watermelon", "muskmelon"]
list2=["cabbage", "tomato", "potato"]
sum_list=[]
for (item1,item2) in zip (list1,list2):
    sum_list.append(item1+item2)
    print(sum_list)

['orangecabbage']
['orangecabbage', 'watermelontomato']
['orangecabbage', 'watermelontomato', 'muskmelonpotato']

In [3]:
# 6 implement a stack using a list
list1=["pineapple", "watermelon", "muskmelon", "orange", "mango"]
list1.append("kiwi")
print(list1)


list2=["pineapple", "watermelon", "muskmelon", "orange", "mango"]
list2.pop()
print(list2)

list3=["pineapple", "watermelon", "muskmelon", "orange", "grapes"]
print(list3[-1])

['pineapple', 'watermelon', 'muskmelon', 'orange', 'mango', 'kiwi']
['pineapple', 'watermelon', 'muskmelon', 'orange']
grapes

In [4]:
# 7 sort given number in ascending list
list1=[23,12,7, 34, 8, 4 ,15, 31]
list1.sort()
print(list1)

[4, 7, 8, 12, 15, 23, 31, 34]

# While loops

In [6]:
i=1 
while i < 8:
    print(i)
    i +=1

1
2
3
4
5
6
7

In [8]:
i=1
while i < 10:
    print(i)
    i += 2

1
3
5
7
9

In [4]:
# using break
i=1
while i < 10:
    print(i)
    if i==5:
        break
    i+= 1

1
2
3
4
5

In [26]:
i=1
while i < 11:
    print(i)
    if (i == 8):
        break
    i+= 3

1
4
7
10

In [27]:
# using continiue
a=0
while a < 13:
    a += 2
    if a== 8:
        continue
    print(a)

2
4
6
10
12
14

In [1]:
y=0
while y < 10:
    y += 2
    if y == 6:
        continue
print(y)

10

In [1]:
i=0
while i < 13:
    i += 2
    if i ==3:
        continue
print(i)

14

# For loop question

In [3]:
# Q.1

n=5
for i in range(n):
    for j in range (i+1):
        print('*',end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
# Q.2

n=5
for i in range(n):
    for j in range(i,n):
        print("*", end= ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
# Q.3

n=int(input("Enter the number of row:"))
num=1
for row in range(1, n+1):
    for col in range(1,row+1):
        print(num,end= ' ')
        num= num+1
    print()

Enter the number of row:4
1
2 3
4 5 6
7 8 9 10

In [3]:
# Q .4

n=int(input("Enter the number of row:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end= ' ')
    print()

Enter the number of row:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
# Q .5

n=int(input("Enter the number of row:"))
for i in range(65,n+65):
    for j in range(65,i+1):
        print(chr(j), end= ' ')
    print()

Enter the number of row:5
A
A B
A B C
A B C D
A B C D E

In [1]:
# Q .6

n=int(input("Enter the number of row:"))
k=ord("A")
for i in range(n):
    for j in range(i+1):
        print(chr(k), end= ' ')
        k=k+1
    print()

Enter the number of row:5
A
B C
D E F
G H I J
K L M N O

In [4]:
# Q .7

for i in range (1, 6):
    for j in range (1, 6):
        if(j<=5-i):
            print("  ", end= "  ")
        else:
            print(" * ", end= " ")
    print()

                 *
             *   *
         *   *   *
     *   *   *   *
 *   *   *   *   *

In [25]:
# Q 7.1

n= int(input("Enter the number of row: "))
for i in range(n):
    for j in range (n-i-1):
        print(' ', end= ' ')
    for j in range (i+1):
            print('*', end= ' ')
    print()

Enter the number of row: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [9]:
# Q .8
n= int(input("Enter the number of row: "))
for i in range(n):
    p=1
    for j in range (i+1):
        print(" ", end= " ")
    for j in range (i,n):
        print(p, end= " ")
        p+=1
    print()

Enter the number of row: 5
  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [4]:
# Q.9
k=1
i=1
while
        
    print()

Enter the number of rows:5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

# Function Questions

In [5]:
# 1.Write a Python function to find the Max of three numbers

def maximum(a, b, c):
    list = [a, b, c]
    return max(list)
  

#a = 10
#b = 14
#c = 12
print(maximum(10, 20,12))

20

In [10]:
# 1.1

def maximum(a,b,c):
    if (a >=b ) and (a >= c):
        largest = a
        
    elif (b >= a) and (b >= c):
        largest =b
    
    else:
        largest = c
    
    return largest

a=23
b=17
c=13
print(maximum(a,b,c))

23

In [5]:
# 2. Define a function that accepts 2 values and return its sum, subtraction and multiplication..



def function (a, b):

    print(" This is sum :", (a+b))
    print("This is multipilaction :", (a*b))
    print("This is substraction :", (a-b))
    print('This is multiplaction:', (a/b))
function(4,5)

 This is sum : 9
This is multipilaction : 20
This is substraction : -1
This is multiplaction: 0.8

In [1]:
# 3
def multiply(thislist):
    num=1
    for x in thislist:
        num= num * x
    return num
#thislist=int(input("Enter your number whihch you multiply :" ))
list1=[2,4,6]
multiply(list1)

48

In [5]:

#.4 .Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument


def factorial (n):
    if n == 0 :
        return 1
    else:
        return n * factorial(n-1)

num= int(input(" input  the number to compute the factorial :"))
print(factorial(num))

 input  the number to compute the factorial :6
720

In [6]:
# 4.2Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument
def factorail (a):
    fact=1
    for p in range (a,0):
        fact= fact * p
        return fact
    
n= int(input("Enter your number : "))
result=factorial(n)
print("Factorial of ",n, "is ", result)

Enter your number : 6
Factorial of  6 is  720

In [9]:
# 5.Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

def printvalues():
    l= list()
    for i in range (1, 30):
        l.append(i**2)
    print(l[1 :  ])
printvalues()

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [3]:
 # 6 .Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

def string_test(s):
    d={"UPPER-CASE": 0, "LOWER-CASE": 0}
    for c in s:
        if c.isupper():
            d["UPPER-CASE"]+=1
        elif c.islower():
            d["LOWER-CASE"]+=1
        else:
            pass
    print("Orignal String :", s)
    print("No : of upper case character :", d["UPPER-CASE"])
    print("No : of lower case charecret :", d["LOWER-CASE"])

string_test("The quick Brown Box")

Orignal String : The quick Brown Box
No : of upper case character : 3
No : of lower case charecret : 13

In [7]:
# 3.Write a Python function to multiply all the numbers in a list. 
n=int(input("enter list size : "))
list =[]

for i in range(0,n):
    a = int(input("Enter your number: "))
    list.append(a)

def multiply_list(a_list):
    value=1
    for item in a_list:
        value=value* item
        pass
    return value

print(multiply_list(list))

enter list size : 2
Enter your number: 12
Enter your number: 5
60

In [17]:
# 7. .Define a function that accepts roll number and returns whether the student is present or absent.

def detail(roll):
    x=[23, 52,14,20]
    if roll in x:
        print(f"Roll number {roll} is present")
    else:
        print(f"Roll number {roll} is absent")
roll=int(input("Enter Roll Number."))
detail(roll)

Enter Roll Number.23
Roll number 23 is present

In [3]:
# 8.Define a function which counts vowels and consonant in a word.

letter=input("Enter the sentence: ")
def word(a):
    vowels1 = "a,i,e,o,u,I,A,O,U,E"
    vowel=0
    cont=0
    for i in letter:
        if i in vowels1:
            vowel+=1
    
        else:
            cont+=1
    print("Total vowels in given sentence:",vowel)
    print("Total consonant in given sentence:",cont)
word(letter)

Enter the sentence: khan Atifa
Total vowels in given sentence: 4
Total consonant in given sentence: 6

In [6]:
# 9.Define a function that accepts radius and returns the area of a circle.
radius=float(input("Enter radius of circle:" ))
import math

def circle(radius):
    area= math.pi * (radius**2)
    print("Area of the circle is : ",area)
    
circle(radius)

Enter radius of circle:6
Area of the circle is :  113.09733552923255

# slicing practice

In [8]:
colors = ['red', 'green', 'blue', 'orange','purple','seagreen','white']

print(colors[-3 : ])
print(colors[-4 : 5])
print(colors[3::-2])
#AGAR STARTING KA NUMBER DIYE OR ENDING NAHI(ending range) DIYE OR NEGATIVE KI INDEXING KIYE TOH JO STARTING NUMBER HAI WAHAN SE LEFT SIDE ME PRINT HOGA JO BHI STEP LIYE FOR EX.STEP (-2) or starting no.3 hai toh "orange" or "green" print hoga . 
# or agar starting or ending dono number diye toh or indexung negative diye toh most of the time print nahi nhoga empty hogi
# or ending ka number dene k baad bhi print tabhi hoga jab question [a,b,c]wale Q, k pahle wale ki tarah hua.

['purple', 'seagreen', 'white']
['orange', 'purple']
['orange', 'green']

In [2]:
colors = ['red', 'green', 'blue', 'orange','apple']
print(colors[0:3:-2])

[]

In [6]:
a=['a', 'b', 'c','d', 'e','f', 'g','h']
print(a[3: -8:-2])
print(a[3: 8: -2])
print(a[4 ::-2])
print(a[3: -3: -2])

['d', 'b']
[]
['e', 'c', 'a']
[]

# If else,for loop,and range  Questions.....

In [6]:
# 1.To print odd & even number.
a=int(input("Enter your number:"))
if i in range(a):
    if i%2==0:
        print("Even")
    else:
        print("Odd")

Enter your number:12
Odd

In [7]:
# 1.2
a=[3,12,5,7,9,13]
for i in a:
    if i%2==0:
        print("Even")
    else:
        print("odd")

odd
Even
odd
odd
odd
odd

In [1]:
# 2..Count the total number of digits in a number.
n=int(input("Enter the number :"))
ct=0
 
while n!= 0:
    n=n//10
    ct +=1
    
print("Number of digits :", ct)

Enter the number :576587
Number of digits : 6

In [4]:
# 3. Write a program to print multiplication table of a given number.

x=int(input("Enter number to find the table : "))
for y in range(1, 11):
    print(x*y)

Enter number to find the table : 15
15
30
45
60
75
90
105
120
135
150

In [3]:
# 4. Count the total number of digits in a number
 
n=int(input("Enter the number: "))
count=0
while n>0:
    n=n//10
    count=count+1
print("Total number of digits are : ",count)

Enter the number: 8986975
Total number of digits are :  7

In [20]:
# 5.Find the factorial of a given number.
i=int(input("Enter you number :"))
fac=1
while i>0:
    fac=fac*i
    i=i-1
print("Factorial:", fac)

Enter you number :8
Factorial: 40320

In [2]:
# 6.Display Fibonacci series up to 10 terms.
num=int(input("Enter your number : "))
n1 , n2 =0 ,1
sum=0
if num<=0:
    print("Please enter the number greater than 0")
else:
    for i in range(0, num):
        print(sum, end=" ")
        n1= n2
        n2= sum 
        sum= n1+n2

Enter your number : 10
0 1 1 2 3 5 8 13 21 34

In [1]:
# 7.Calculate the cube of all numbers from 1 to a given number
i=int(input("Enter yuor number : "))
sum=0
while (i>0):
    sum=sum + (i % 10) * (i % 10) * (i % 10)
    i= i//10
print("sum of cube of each digit=", sum)

Enter yuor number : 231
sum of cube of each digit= 36

In [1]:
def firstfunc():
    print("first")
    secondfunc()
    
def secondfunc():
    print("second")
    thirdfunc()
    
def thirdfunc():
    print("third")
    firstfunc()

In [10]:
# find sum square
i=int(input("Enter your number : "))
sum=0
while (i>0):
     sum=sum + (i % 10) * (i % 10)
     i=i//10
print("Sum of square of each digit =", sum)

Enter your number : 325
Sum of square of each digit = 38

In [2]:
# function question no 6 practice 

def string_test(s):
    d={"UPPER-CASE" :0 ,"LOWER-CASE" : 0}
    for c in s:
        if c. isupper():
            d["UPPER-CASE"]+=1
        elif c. islower():
            d["LOWER-CASE"]+=1

        else:
            pass
    print("The orignal statment =", s)
    print("Number of upper case leller :", d["UPPER-CASE"])
    print("Number of lower case letter :", d["LOWER-CASE"])

string_test("The Brown Fox Sugar")

The orignal statment = The Brown Fox Sugar
Number of upper case leller : 4
Number of lower case letter : 12

# Tuple Task Questions

In [4]:
# 1.  To create a tuple having a number from 1-20. Print the half of its 
#value in 1 line and other half in next line .

tlist=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

tuple1= tlist[ :10]
tuple2= tlist[10: ]

print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [7]:
# 2.To create a tuple consisting of 20 number from a user. Create another tuple whose values are even number in the first tuple.
a=[]
for i in range(1,6):
    user=int(input("Enter the number : "))
    a.append(user)
print(tuple(a))

b=[]
c=[]
for j in a:
    if j%2 ==0:
        b.append(j)
        b.sort()
        print(tuple(b))
    else:
        c.append(j)
print(tuple(c))

# b=[]
# c=[]
# for j in a:
#     if j%2 ==0:
#         b.append(j)
#         b.sort() 
#         print(tuple(b))
    
#     else:
#          c.append(j)
# print(tuple(c))

Enter the number : 3
Enter the number : 6
Enter the number : 4
Enter the number : 7
Enter the number : 5
(3, 6, 4, 7, 5)
(6,)
(4, 6)
(3, 7, 5)

In [8]:
# 3. To concatenate two tuples .

tuple1=("a", "b", "c", "d")
tuple2=(1,3,5,6)
tuple3= tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'd', 1, 3, 5, 6)

In [1]:
# 4. To check whether a given element is present in tuple or not .
thistuple=("Apple", "Banana", "Orange", "Grapes")
i=input("Enter name :")

if i in thistuple:
    print("yes, this element is present")
else:
    print("No, this element is not present")

Enter name :Apple
yes, this element is present

In [10]:
# 5 . To use the following methods on a tuple in the program: 
#cmp(t1,t2)/t1==t2 ,len(t1) , zip(t1,t2) , max(t) , min(t) , tuple()

tuple1= (15, 34 ,66)
tuple2= (86,98, 68)
print(tuple1== tuple2)

False

In [12]:
#use len

thistuple=("apple", "cherry", "banana", "orange")
print(len(thistuple))

4

In [16]:
# use zip

tuple1=("banana", "cherry","orange" )
tuple2=("sugarcane", "grapes", "mango")
 
x=zip(tuple1,tuple2)
print(tuple(x))

(('banana', 'sugarcane'), ('cherry', 'grapes'), ('orange', 'mango'))

In [22]:
# use max
thistuple=(23,45,8,9,3,85)
print(max(thistuple))


# use min
#thistuple=(23,45,8,9,3,85)
print(min(thistuple))

85
3

In [27]:
# tuple()
thistuple=("apple", "banana", "orange", "cherry")

print(type(thistuple))

<class 'tuple'>

# Dictionary Questions

In [9]:
# 1. To create a dictionary with any five key value pair . print the dictionary . Add an element in a given dictionary and delete an element

thisdict= {
    "Name"            :    "Hazra",
    "surname"         :     "sheikh",
    "Age"             :     13,
    "Hobby"           :     "Reading book",
    "Qualification"   :       8
}

print(thisdict)

thisdict ["Fav Place"]= "Water park"
print(thisdict)

thisdict.pop("Qualification")
print(thisdict)

{'Name': 'Hazra', 'surname': 'sheikh', 'Age': 13, 'Hobby': 'Reading book', 'Qualification': 8}
{'Name': 'Hazra', 'surname': 'sheikh', 'Age': 13, 'Hobby': 'Reading book', 'Qualification': 8, 'Fav Place': 'Water park'}
{'Name': 'Hazra', 'surname': 'sheikh', 'Age': 13, 'Hobby': 'Reading book', 'Fav Place': 'Water park'}

In [16]:
# 2. To create 2 dictionaries using dictionary comprehension method.

# 1 .
keys= ["A", "B", "C", "D", "E", "F"]
values=[1, 2, 3, 4, 5,6]

mydict=  dict(zip(keys, values))
print(mydict)


# 2 .
mydict= {x : x**3 for x in [1,2,3,4,5,6]}
print(mydict)

# 3.
 
mydict= {x.upper (): x*2 for x in 'python'}
print(mydict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}
{'P': 'pp', 'Y': 'yy', 'T': 'tt', 'H': 'hh', 'O': 'oo', 'N': 'nn'}

In [23]:
# 3.To demonstrate 5 methods of python data structure set .

# 1.using add method
thisset={ "school", "class", "books", "bags"}
thisset.add ("teacher")
print(thisset)

# 2. using difference method 
x={"apple", "banana", "cherry","orange"}
y={"google", "microsoft", "cherry", "copmuter"}
z= x.difference(y)
print(z)
  
# 3. using discard method
myset= {"pineapple", "mango", "orange", "grapes"}
myset.discard("pineapple")
print(myset)

# 4. using intersection method
set1= {"apple", "banana", "orange", "mango"}
set2= {"google", "internet", "mango", "orange"}

set3= set1.intersection(set2)
print(set3)

# 5 . using isdisjoint method 
set1= {"A", "B", "C", "D", "F"}
set2= { 1, 2, 3, 4, 5}

set3= set1.isdisjoint(set2)
print(set3)

set4= {"a", "b", "c", "d", "e"}
set5= {1,2, "a", 3, 4, 5, 6}

set6= set5.isdisjoint(set4)
print(set6)

{'class', 'teacher', 'books', 'school', 'bags'}
{'banana', 'apple', 'orange'}
{'grapes', 'mango', 'orange'}
{'mango', 'orange'}
True
False

In [ ]:
# 4. To implement caser cipher using dictionary


# function question practise

In [1]:
# 1 Write a Python function to find the Max of three numbers.

def maximum(a,b,c):
    list=[a,b,c]
    return max(list)

print(maximum(15,21,33))

33

In [3]:
# 2 .Define a function that accepts 2 values and return its sum, subtraction and multiplication..

def function(a,b):
    #a=int(input("Enter your number : "))
     # b=int(input("Enter your number : "))
    
    print("This is sum=", (a+b))
    print("This is multiplication=", (a*b))
    print("This is substraction=", (a-b))
    print("This is division=", (a/b))

function(20,10)

This is sum= 30
This is multiplication= 200
This is substraction= 10
This is division= 2.0

In [28]:
# 3.Write a Python function to multiply all the numbers in a list.
n=int(input("Entre list size : "))
list=[]
for i in range(n):
    a=int(input("Enter your number : "))
    list.append(a)
    
def multiply_list(a_list):
    value=1
    for i in a_list:
        value= value * i
    return value

print(multiply_list(list))

Entre list size : 3
Enter your number : 2
Enter your number : 5
Enter your number : 6
60

In [5]:
# 4 Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

def factorial(n):  
    if n==0:
        return 1
    else:
        return n* factorial(n-1) 
    
n=int(input("Enter the number to compute the factorial : "))
print(factorial(n))

Enter the number to compute the factorial : 5
120

In [6]:
# 5 Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

def square():
    l=list()
    for i in range(1, 31):
        l.append(i**2)
    print(l[1: ])
square()

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [8]:
# 6 Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters
def function (s):
    d={"UPPER-CASE" : 0, "LOWER-CASE" : 0}
    
    for c in s:
        if c.isupper():
            d["UPPER-CASE"]+=1
        elif c.islower():
            d["LOWER-CASE"]+=1
        else:
            pass
        
    print("Enter the original string=", s)
    print("Number of upper case character=", d["UPPER-CASE"])
    print("Enter lower case character=", d["LOWER-CASE"])
function("The Number Of student")

Enter the original string= The Number Of student
Number of upper case character= 3
Enter lower case character= 15

In [4]:
# 7 .Define a function that accepts roll number and returns whether the student is present or absent.
def rollnumber(roll):
    x=[23,45,28,15,21]
    if roll in x:
        print(f"Roll number {roll}   is present")
    else:
        print( f"Roll number  {roll}  is absent=", roll)
roll=int(input(" Roll number:" ))
rollnumber(roll)

 Roll number:23
Roll number 23   is present

In [2]:
# 8 .Define a function which counts vowels and consonant in a word.
letter=input("Enter your sentence : ")
def word(letter):
    
    vowels1="a, e, i, o, u, A,E,I,O,U"
    vowel= 0
    cont= 0
     
    for i in letter:
        if i in vowels1:
            vowel+=1
        
        else:
            cont+=1
    print("Total value of vowels in this sentence=", vowel)
    print("Total value of constant in this sentence=", cont)
    
word(letter)

Enter your sentence : Khan Aatifa
Total value of vowels in this sentence= 6
Total value of constant in this sentence= 5

In [30]:
# 9.Define a function that accepts radius and returns the area of a circle.

radius=int(input("Enter radius  of circle:" ))
import math

def circle(radius):
    area= math.pi * (radius**2)
    print("Area of the circle is :",area)
    
circle(radius)

Enter radius  of circle:5
Area of the circle is : 78.53981633974483

# Lambda practise

In [25]:
x=lambda a : a+ 20
print(x(7))


y=lambda b : b- 15
print(y(31))

27
16

In [27]:


x= lambda a ,n: a * n
print(x(11,7))

y= lambda a,b :a * b
print(y(12,5))

77
60

In [32]:
x= lambda a, b : a/b
print(x(50,5))

y=lambda l,m : l//m
print(y(61,4))

10.0
15

In [36]:
m = lambda a, b,c :a + b + c
print(m(15,9,21))

n= lambda x,y,z : x- y-z
print(n(20, 15,30))

o=lambda p,q,r : p * q * r
print(o(5,6,3))

q= lambda x,y,z : x / y / z
print(q(50, 5, 2))

45
-25
90
5.0

In [40]:
def myfunction(n):
    
    return lambda a : a * n
mydoubler = myfunction(2)

print(mydoubler(13))

def function(n):
    return lambda x: x * n
mydoubler = function (5)

print(mydoubler(15))

26
75

In [42]:
def my_func(n):
    return lambda y : y * n
mytriple = my_func(3)

print(mytriple(16))

def thisfunc(n):
    return lambda b : b * n
mytriple= thisfunc(8)

print(mytriple(15))

48
120

In [43]:
def function(n):
    return lambda p : p * n
 
mydoubler = function (2)
mytripler = function (3)

print(mydoubler(14))
print(mytripler(15))

28
45

# Array practice

In [52]:
cars =["maruti", " suzuki", "honda", "BMW"]
print(cars)

# accsess the eliment of array
x= cars [3]
print(x)

y= cars[0]
print(y)

['maruti', ' suzuki', 'honda', 'BMW']
BMW
maruti

In [57]:
# modify the value
school =["class", "book",  "bags", "teacher", "music"]
school[4] = "principle"
print(school)

school[2] = "ground"
print(school)

['class', 'book', 'bags', 'teacher', 'principle']
['class', 'book', 'ground', 'teacher', 'principle']

In [55]:
# len 
school =["class", "book",  "bags", "teacher", "music"]
print(len(school))

alist= ['a', 'f ', 'e', 'g', 't','d']
print(len(alist))

5
6

In [59]:
# add items

house = ["kitchen", "bedroom", "hall", "cupboared"]
house.append("fridge")
print(house)

school =["class", "book",  "bags", "teacher"]
school.append("plants")
print(school)

['kitchen', 'bedroom', 'hall', 'cupboared', 'fridge']
['class', 'book', 'bags', 'teacher', 'plants']

In [60]:
# looping 
 
school =["class", "book",  "bags", "teacher", "ground"]
for x in school:
    print(x)

class
book
bags
teacher
ground

In [61]:
house = ["kitchen", "bedroom", "hall", "cupboared"]
for i in house:
    print(i)

kitchen
bedroom
hall
cupboared

In [63]:
 # removing
house = ["kitchen", "bedroom", "hall", "cupboared", "books"]
house.pop(4)
print(house)

school =["class", "book",  "bags", "teacher", "fridge"]
school.remove("fridge")
print(school)

['kitchen', 'bedroom', 'hall', 'cupboared']
['class', 'book', 'bags', 'teacher']

In [68]:
school =["class", "book",  "bags", "teacher", "ground",]
school.insert(2, "plants")
print(school)

['class', 'book', 'plants', 'bags', 'teacher', 'ground', 2]

# class / object practice

In [75]:
class myclass():
    x=7
    y=9
print(myclass)

p1= myclass()
print(p1.y)
print(p1.x)

<class '__main__.myclass'>
9
7

In [4]:
# The__init__function()

class person:
    def __init__(self,name,age):
        self.name = name
        self.age  = age
        
p1= person("Iqra", 10)

print(p1.name, p1.age)
#print(p1. age)

Iqra 10

In [11]:
class aboutself :
    def __init__(self, name, age, hobby):
        self.name   = name
        self.age    = age
        self.hobby  = hobby
        
p1= aboutself("Iqra", 10,  "playing")
p2= aboutself("Hazra", 12, "reading book")

print(p1.name)
print(p1.hobby)
print(p2.name)
print(p2.hobby)

Iqra
playing
Hazra
reading book

In [12]:
# object method
class people :
    def __init__(self,name, age,hobby,favplace):
        self.name    = name
        self.age     = age
        self.hobby   = hobby
        self.favplace= favplace
    
    def myfunc(self):
        return f"Hello my name is   {self.name} and i am {self.age} year old and my favorate place is {self.favplace}"

p1= people("Hazra", 13 , "cooking","nature place")
#p2 = people("Iqra", 10 ,"plying", "water park")

print(p1.myfunc())
#print(p2.myfunc())
        
print(p1.__dict__)

def myfunc(self):
    return f"Hello my name is  {self.name}. I am {self.age} year old , my hobby is {self.hobby} and my favplace is {self.place}."
p2 = people("Iqra", 10 ,"plying", "water park")

print(p2.myfunc())

Hello my name is   Hazra and i am 13 year old and my favorate place is nature place
{'name': 'Hazra', 'age': 13, 'hobby': 'cooking', 'favplace': 'nature place'}
Hello my name is   Iqra and i am 10 year old and my favorate place is water park

In [5]:
# self parameter 
class person:
    def __init__(mypara, name, hobby, favplace):
        mypara.name   =   name
        mypara.hobby  =  hobby
        mypara.favplace = favplace
        
    def thisfunc(abc):
        return f"My name is {abc.name} . My hobby is {abc.hobby} and my favorate place is {abc.favplace}."
p1= person("Ahana", "plying , reading book", "water park")

print(p1.thisfunc())

My name is Ahana . My hobby is plying , reading book and my favorate place is water park.

In [10]:
# modify object properties
class people:
    def __init__(self, name, hobby, favplace):
        self.name   =   name
        self.hobby  =  hobby
        self.favplace = favplace
        
    def myfunc(abc): 
        return f"My name is {abc.name} . My hobby is {abc.hobby} and my favorate place is {abc.favplace}."
p1= people("Ahana", "plying , reading book", "water park")
p1.name = "kulsum"

print(p1.myfunc())

My name is kulsum . My hobby is plying , reading book and my favorate place is water park.

In [15]:
# del object properties 
class people:
    def __init__(self, name, hobby, favplace):
        self.name   =   name
        self.hobby  =  hobby
        self.favplace = favplace
        
    def myfunc(abc):
        return f"My name is {abc.name} . My hobby is reading book and my favorate place is {abc.favplace}."
p1= people("Aaliya", "plying , reading book", "water park")
del p1.hobby

print(p1.myfunc())

My name is Aaliya . My hobby is reading book and my favorate place is water park.

In [1]:
f = open("Biology.txt","r")
f2= open("newfile.txt", "w")
count=0
for x in f:
    c= x.replace(" ", "_").strip()
    count+=1
    #print(c,"=",count)
    d= c + "=" + str(count)
    f2.write(d)
    print(d)

The_Living_World=1
Biological_Classification=2
Plant_Kingdom=3
Animal_Kingdom=4
Morphology_Of_Flowering_Plants=5
Anatomy_Of_Flowering_Plants=6
Structural_Organisation_In_Animals=7
Cell_The_Unit_Of_Life=8
Biomolecules=9
Cell_Cycle_And_Cell_Division=10
Transport_In_Plants=11
Mineral_Nutrition=12
Photosynthesis_In_Higher_Plants=13
Respiration_In_Plants=14
Plant_Growth_And_Development=15
Digestion_And_Absorption=16
Breathing_And_Exchange_Of_Gases=17
Body_Fluids_And_Circulation=18
Excretory_Products_And_Their_Elimination=19
Locomotion_And_Movement=20
Neural_Control_And_Coordination=21
Chemical_Coordination_And_Integration=22
Reproduction_In_Organisms=23
Sexual_Reproduction_In_Flowering_Plants=24
Human_Reproduction=25
Reproductive_Health=26
Principles_Of_Inheritance_And_Variation=27
Molecular_Basis_Of_Inheritance=28
Evolution=29
Human_Health_And_Disease=30
Strategies_For_Enhancement_In_Food_Production=31
Microbes_In_Human_Welfare=32
Biotechnology_Principles_And_Processes=33
Biotechnology_And_Its_Applications=34
Organisms_And_Populations=35
Ecosystem=36
Biodiversity_And_Conservation=37
Environmental_Issues=38

# class practice

In [8]:
# 1.OOP Exercise 1: Create a Class with instance attributes
#Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.


class vehicle:
    def __init__(self, max_speed, mileaga):
        self.max_speed = max_speed
        self.mileaga = mileaga

modelX = vehicle(240 , 18)
print(modelX.max_speed, modelX.mileaga)

240 18

In [7]:
# 2.OOP Exercise 2: Create a Vehicle class without any variables and methods

class vehicle:
    pass

In [10]:
# 3. OOP Exercise 3: Create a child class Bus that will inherit all of the variables and methods of the Vehicle class

class vehicle:
    def __init__(self,name , max_speed, mileaga):
        self.name = name
        self.max_speed = max_speed
        self.mileaga = mileaga
        
class bus(vehicle):
    pass

school_bus= bus("School volvo", 200 , 18)
print("vihcle Name :", school_bus.name , "speed:" , school_bus.max_speed, "mileaga :" ,school_bus.mileaga)

vihcle Name : School volvo speed: 200 mileaga : 18

In [16]:
# 4 .OOP Exercise 4: Class Inheritance
#Given:

#Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

class vehicle:
    def __init__(self, name, max_speed , mileaga):
        self.name = name
        self.max_speed = max_speed
        self.mileaga = mileaga
        
    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self. name} is {capacity} passengar."
    
    
class Bus(vehicle):
    
    def seating_capacity(self , capacity=50):
        return super().seating_capacity(capacity=50)


school_bus= Bus("bus", 240 , 18)
print(school_bus.seating_capacity())

The seating capacity of a bus is 50 passengar.

In [3]:
# 5. OOP Exercise 5: Define a property that must have the same value for every class instance (object)

#Define a class attributecolor with a default value white. I.e., Every Vehicle should be white.

class vehical :
    
    color = "white"
    
    def __init__(self,   vehical_name , max_speed , mileaga):
        self.vehical_name  = vehical_name 
        self.max_speed = max_speed
        self.mileaga = mileaga
        
class Bus(vehical):
    pass

class Car(vehical):
    pass

school_bus=Bus("school volvo", 200 , 18)
print( "color:",school_bus.color,"vehical-name :",school_bus.vehical_name,"speed:", school_bus.max_speed,"mileaga:",school_bus.mileaga )

car= Car("Audi Q5", 240 , 18)
print("color:",car.color, "vehical_name:",car.vehical_name ,"speed:",car.max_speed ,"mileaga:",car.mileaga)

color: white vehical-name : school volvo speed: 200 mileaga: 18
color: white vehical_name: Audi Q5 speed: 240 mileaga: 18

In [4]:
# 6. OOP Exercise 6: Class Inheritance

# Create a Bus child class that inherits from the Vehicle class. The default fare charge of any vehicle is seating capacity * 100. If Vehicle is Bus instance, we need to add an extra 10% on full fare as a maintenance charge. So total fare for bus instance will become the final amount = total fare + 10% of the total fare.

# Note: The bus seating capacity is 50. so the final fare amount should be 5500. You need to override the fare() method of a Vehicle class in Bus class.

# Use the following code for your parent Vehicle class. We need to access the parent class from inside a method of a child class.

class vehical:
    def __init__(self, name , mileaga , capacity):
        self.name = nema
        self.mileaga = mileaga
        self.capacity = capacity
 
   def fare (self):
        return self.capacity *100
    
class Bus(vehical):
    
    def fare(self):
        amount = super().fare()
        amount+= amount * 10/100
        return amount

school_bus= Bus("school volvo", 18 , 50 )
print("The tolat bus fare is :", school_bus.fare())

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

# oops practise

In [8]:
# Define and call an instance method and class method.

#class methode define

class student:
    # class variable
    school_name = "ABC School"
    
    #constructor
    def __init__(self, name, age):
        self.name = name
        self.age =  age
        
    # Instance method
    def show(self):
        #access instance variables  and class variables
        print('Student:', self.name ,self.age, student. school_name)
        
        
    # Instance methods
    
    def change_age(self, new_age):
        # modify inatance variable 
        self.age = new_age
        
        
    # class method
    @classmethod
    def modify_school_name(cls, new_name):
        # modify class variable
        cls.school_name = new_name
        
s1 = student("Harry", 12)

# call instance method 
s1.show()
s1.change_age(14)

# call class method
student. modify_school_name("XYZ school ")

# call instance method 
s1.show()

Student: Harry 12 ABC School
Student: Harry 14 XYZ school

In [ ]:
# Type of constructor

In [9]:
1.# default constructor

class Employee:
    
    
    def display(self):
        print("Inside display")
        
emp= Employee()
emp.display()

Inside display

In [10]:
# 2. Non- parametrized construcor

class compnay:
     
     # no argument constructor   
    def __init__(self):
        self.name  = "PYnative"
        self.address = "ABC street"
    
    # a method for printing data member
    
    def show(self):
        print("Name :", self.name, "Address :", self.address)

cmp= compnay()
cmp.show()


# This constructor doesnt accept the arguments during object creation. Instead, it initializes every object with the same set of values.

Name : PYnative Address : ABC street

In [11]:
# 3 . Parametrized constructor

class Employee:
    
    # parametrized constructor
    def __init__(self, name , age, salary):
        self.name = name
        self.age = age 
        self.salary= salary
        
    # display object
    def show(self):
        print(self.name , self.age, self.salary)
        
# creating object of the employee class 
emma = Employee("Emma", 20 , 7500)
emma.show()

kelly = Employee("Kelly", 23 , 8500)
kelly.show()


# consider a company that contains thousands of employees.For each employee we need to pass a different name, age, and salary .
# In such cases, use the parameterized constructor.

Emma 20 7500
Kelly 23 8500

In [4]:
# constructor with default value

class student:
    #count=0
    
    def __init__(self, name= "Emma", age=12 , Classroom=8):
        self.name = name
        self.age = age
        self.Classroom = Classroom
        
    def show(self):
        print(self.name , self.age , self.Classroom)
        
    
        #student.count= student.count+1
        
s1 = student()
s1.show()

kelly= student("kelly", 14, )
kelly.show()
    
john = student("John" , 13 , 7)
john.show()
#print("The number of object :",student.count)

Emma 12 8
kelly 14 8
John 13 7

In [1]:
# constructor chaining 

class vehical:
    
    # The constructor of vehical
    def __init__(self, engine):
        print('Inside Vehical Constructor')
        self.engine = engine
        

class Car (vehical):
    
    # The constructor of car
    def __init__(self,engine, max_speed):
        super(). __init__(engine)
        print('Inside car constructer')
        self.max_speed = max_speed
        
class Electric_car(Car):
    
    # The constructer of Electric_car
    def __init__(self, engine , max_speed, km_range):
        super().__init__(engine, max_speed)
        print('Inside Electric_car constructor')
        self.km_range = km_range

        
# object of Electric_car
ev = Electric_car('1500cc' ,240 , 750 )
print(f"Engine={ev.engine}, Max speed={ev.max_speed}, kilometer range={ev.km_range}")

Inside Vehical Constructor
Inside car constructer
Inside Electric_car constructor
Engine=1500cc, Max speed=240, kilometer range=750

In [6]:
# Counting the number of object

class Employee:
    count= 0
    
    def __init__(self):
        Employee.count = Employee.count+1
        
        
e1 = Employee()
e2= Employee()
e3= Employee()

print("The number of object:", Employee.count)

The number of object: 3

In [9]:
def show_element(lst):
    #list1=[1,2,3,4,5,6]
    for i in lst:
        print(i)
 
l1=[1,2,3,4]
l2=[5,6,7,8]
"world"
show_element(l1)
show_element(l2)
show_element("world")

1
2
3
4
5
6
7
8
w
o
r
l
d

In [14]:
a=2
b=a
print(id(a))
print(id(b))
del(b)
print(a)

2651378090256
2651378090256
2

In [3]:
# The destructor will not invoke when we delete object reference. It will only invoke when all references to the objects get deleted.



#import time

class Student:
    def __init__(self , name):
        print("Inside Constructor")
        self.name= name
        
    def show(self):
        print("Hello my name is ", self.name)
        
    def __del__(self):
        print("Object destroyed")
    
s1= Student("Emma")
s2= s1

s1.show()
del s1
del s2

Inside Constructor
Hello my name is  Emma
Object destroyed

# Destructor

In [1]:
# How to implement a destructor
# how destructor gets executed when we delete the object.

class student:
    
    def __init__(self, name, age):
        print("Inside the Constructor")
        self.name = name
        self.age =age
        print("Object initialize")
        
        

    def show(self):
        print("Hello my name is ", self.name)
        
        
    def __del__(self):
        print("inside the destructor")
        print("Object getting destroyed")
        
        
s1= student("John", 19)
s1.show()

s2= student("Leo", 17)
s2.show()

del s1
del s2

Inside the Constructor
Object initialize
Hello my name is  John
Inside the Constructor
Object initialize
Hello my name is  Leo
inside the destructor
Object getting destroyed
inside the destructor
Object getting destroyed

In [1]:
import time

class Student:

    # constructor
    def __init__(self, name):
        print('Inside Constructor')
        self.name = name

    def show(self):
        print('Hello, my name is', self.name)

    # destructor
    def __del__(self):
        print('Object destroyed')

# create object
s1 = Student('john')
# create new reference
# both reference points to the same object
s2 = s1
s1.show()

# delete object reference s1
del s1

# add sleep and observe the output
time.sleep(5)
print('After sleep')
s2.show()
del s2

Inside Constructor
Hello, my name is john
After sleep
Hello, my name is john
Object destroyed

In [1]:
# Cases when Destructor doesnt work Correctly
# 1. Circular referencing when two objects refer to each other


1.# Circular Referencing
# The __del()__() doesnt work correctly in the case of circular referencing. In circular referencing occurs when two objects refer to each other.




import time


class Vehicle():
    def __init__(self, id, car):
        self.id = id;
        # saving reference of Car object
        self.dealer = car;
        print('Vehicle', self.id, 'created');

    def __del__(self):
        print('Vehicle', self.id, 'destroyed');


class Car():
    def __init__(self, id):
        self.id = id;
        # saving Vehicle class object in 'dealer' variable
        # Sending reference of Car object ('self') for Vehicle object
        self.dealer = Vehicle(id, self);
        print('Car', self.id, 'created')

    def __del__(self):
        print('Car', self.id, 'destroyed')


# create car object
c = Car(12)
# delete car object
del c
# ideally destructor must execute now

# to observe the behavior
time.sleep(8)

Vehicle 12 created
Car 12 created

In [2]:
# 2.Exception occured in __init__() method.
# Exception in __init__ Method
# In destructor inside init() method we cant use if statement or other stament.Hence this giving an Error .
 
class Vehicle:
    def __init__(self, speed):
        if speed > 240:
            raise Exception('Not Allowed');
        self.speed = speed;

    def __del__(self):
        print('Release resources')

# creating an object
car = Vehicle(350);
# to delete the object explicitly
del car

Exception: Not Allowed

# Instance Variables

In [2]:
# In the following example, we are creating two instance variable name and age in the Student class.

class student:
    # Constructor
    def __init__(self, name, age):
        
        # Instance variables
        self.name= name 
        self.age= age
        
# Creat first object       
s1= student("Jessa", 16)


# Access instance variables
print("Object 1")
print("Name:", s1.name)
print("Age :", s1.age)


# Create second object
s2=student("John", 21)


# Access intance variables
print("object 2")
print("Name :", s2.name)
print("Age :", s2.age)

Object 1
Name: Jessa
Age : 16
object 2
Name : John
Age : 21

In [4]:
# Modify Values of Instance Variables.

class Student:
    
    # Constructor 
    def __init__(self, name, age):
        
        # instance variables
        self.name = name
        self.age = age
        
        
s1 = Student("john", 10)

print("Before")
print("Name :", s1.name,"Age :", s1.age)



# modify instance variables

s1.name = "Emma"
s1.age= 15


print("After")
print("Name :",s1.name, "Age :", s1.age)

Before
Name : john Age : 10
After
Name : Emma Age : 15

In [5]:
# Ways to Access Instance Variable

# 1. Within the class in instance method by using the object reference (self).

class Student:
    
    # Constroctor
    def __init__(self, name, age):
        
        # instance variables
        self.name = name 
        self.age= age
        
    # instance method access instance variables
    def show(self):
        print("Name:", s1.name , "Age:", s1.age)
 

 # Create object       
s1= Student("Kelly", 22)


# call instance method
s1.show()

Name: Kelly Age: 22

In [5]:
# 2. Using getattr() method

class Student:
    
    # Constructor
    def __init__(self, name, age):
        self.name = name
        self.age= age
        
# Create object
stud = Student("Kelly", 15)


# using getattr instead of stud.name
print("Name:", getattr(stud, "name"))
print("Age:", getattr(stud, "age"))

Name: Kelly
Age: 15

In [9]:
# Dynamically Add Instance Variable to a Object
# object_referance.variable_name = value 
# Using this method you can add object

class Student:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
stud= Student("Deo", 23)

print("Before")
print("Name:", stud.name, "Age :", stud.age)

stud.marks =77

print("After")
print("Name:", stud.name, "Age:", stud.age,"Marks:", stud.marks)

Before
Name: Deo Age : 23
After
Name: Deo Age: 23 Marks: 77

In [3]:
# Dynamically Delete Instance Variable

# 1.del statement: The del keyword is used to delete objects. In Python, everything is an object, 
# so the del keyword can also be used to delete variables, lists, or parts of a list, etc.

class Employee:
    
    def __init__(self, name , qualification,age):
        self.name = name
        self.age = age
        self.qualification = qualification
        
        
emp1= Employee("Rahman", 15, 21)
print(emp1.name, emp1.qualification, emp1.age)

del emp1.age
print(emp1.age)


#print("Name:", emp1.name, "Qualification:", emp1.qualification)

Rahman 15 21

AttributeError: 'Employee' object has no attribute 'age'

In [2]:
# 2. delattr() function: Used to delete an instance variable dynamically.
# delattr(object, name)
# object: the object whose attribute we want to delete.
# name: the name of the instance variable we want to delete from the object.


class Student:
    
    def __init__(self, name , qualification,age):
        self.name = name
        self.age = age
        self.qualification = qualification
        
        
    def show(self):
        print(stud.name, stud.qualification, stud.age)
        
        
stud= Student("Rahul", 15, 21)
stud.show()


# Delete instance variables using delattr()
delattr(stud, age)
stud.show()

Rahul 15 21

NameError: name 'age' is not defined

In [8]:
# Access Instance Variable From Another Class

# Using the super() method we can invoke the parent class constructor from a child class.

class vehical:
    
    def __init__(self, engine):
        self.engine= engine
        
class Car(vehical):
    def __init__(self,engine, max_speed):
        # Call parent Class Constructor
        super().__init__(engine)
        self.max_speed = max_speed
        
        
class Electric_car(Car):
    def __init__(self, engine, max_speed, km_range):
        
        # Call parent class constructor
        super().__init__(engine,max_speed)
        self.km_range = km_range
        
 
        
    def display(self):
        print("Engine:", self.engine)
        print("Max_speed :", self.max_speed)
        print("kilometer Range:", self.km_range)
        
example= Electric_car("1500cc", 240, 1400)
example.display()

Engine: 1500cc
Max_speed : 240
kilometer Range: 1400

In [9]:
# List all Instance Variables of a Object

# We can get the list of all the instance variables the object has. Use the __dict__ function of an 
# object to get all instance variables along with their value.

class Student:
    
    def __init__(self, name, age,):
        self.name = name
        self.age =age
        
        
s1= Student("Deo", 21)

print("Instance variable object has")
print(s1.__dict__)


# Get each instance variables
for key_value in s1.__dict__.items(): 
    print(key_value[0],"=", key_value[1])
    #print(key_value[1])

Instance variable object has
{'name': 'Deo', 'age': 21}
name = Deo
age = 21

# Instance Methods

In [3]:
class Student:
    def __init__(self, name ,age):
        self.name = name
        self.age =age
        
    # instance method access instanse variable 
    def display(self):
        print("Name:",self.name, "Age:", self.age)
        
s1= Student("Deo", 13)

# call instance mrethod
print("First student")
s1.display()


print("Second student")
s2= Student("Kelly",15)

#call instance method
s2.display()

First student
Name: Deo Age: 13
Second student
Name: Kelly Age: 15

In [6]:
# Modify Instance Variables inside Instance Method

class Student:
    def __init__(self, roll_no, name, age):
        self.name = name
        self.roll_no = roll_no
        self.age= age
        
    # instance method to modify instance variable    
    def show(self):
        print("Name:",self.name, "Roll No:", self.roll_no, "Age:", self.age)
        
    #instannce method to modify instance variable  
    def update(self,roll_no, age):
        self.roll_no = roll_no
        self.age = age
        
        
        
# crate object
print("Class 8")
s1= Student(36, "Emma", 23)
# call instance method
s1.show()

# call modify variable
print("Class 9")
s1.update(35, 17)
s1.show()

Class 8
Name: Emma Roll No: 36 Age: 23
Class 9
Name: Emma Roll No: 35 Age: 17

In [13]:
# Create Instance Variables in Instance Method

class Student:
    
    def __init__(self, roll_no, name, age):
        self.roll_no = roll_no
        self.name =name
        self.age= age
        
    #def show(self):
        #print("Roll No:",self.roll_no,'Name:',self.name, "Age:" , self.age, "Marks:", self.marks)
        

        
     # instance method to add instance variable   
    def add_marks(self, marks):
        # add new attribute to current object
        self.marks = marks
        
s1= Student(33, "Deo", 21)

#call instance method
s1.add_marks(75)
#s1.show()

print("Roll Number:",s1.roll_no,'Name:',s1.name, "Age:" , s1.age, "Marks:", s1.marks)

Roll Number: 33 Name: Deo Age: 21 Marks: 75

In [4]:
# Dynamically Add Instance Method to a Object

import types

class Employee:
    
    def __init__(self, name , age, company):
        self.name = name
        self.age = age
        self.company= company
        
    def show(self):
        print("Name:", self.name, "Age:", self.age, "Company:", self.company)
        
#  Create new method
def welcome(self):
    print("Hello my name is", self.name, "welcome to my company")
    
    
emp= Employee("Harry",26, "J.K Traders")


# Add instance method to object
emp.welcome = types.MethodType( welcome, emp)


emp.show()
# Call newly method
emp.welcome()

Name: Harry Age: 26 Company: J.K Traders
Hello my name is Harry welcome to my company

In [18]:
# Dynamically Delete Instance Methods
# 1. By using the del operator.

class Student:
    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

    # instance method
    def percentage(self, sub1, sub2):
        print('Percentage:', (sub1 + sub2) / 2)

emma = Student('Emma', 14)
emma.show()
a=emma.percentage(67, 62)

# Delete the method from class using del operator
del a

# Again calling percentage() method
# It will raise error
#emma.a

Name: Emma Age: 14
Percentage: 64.5

In [15]:
2. # By using delattr() method.

class Student:
    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

    # instance method
    def percentage(self, sub1, sub2):
        print('Percentage:', (sub1 + sub2) / 2)

emma = Student('Emma', 14)
emma.show()
emma.percentage(67, 62)

delattr(emma, 'percentage')
emma.show()

#emma.percentage(67,62)

Name: Emma Age: 14
Percentage: 64.5

AttributeError: percentage

# Encapsulation

In [14]:
# Public Member

class Employee:
    
    def __init__(self, name, salary, project):
        self.name = name 
        self.salary= salary
        self.project= project
        
        
    def show(self):
        # Accessable public data memeber
        print("Name:", self.name, "Salary:", self.salary,"Project:",self.project)
        

# Create objectbof a class
emp=Employee("Emma", 50000, "NLP")


print("Name:",emp.name, "Salary:",emp.salary,"Project:", emp.project)
emp.show()

Name: Emma Salary: 50000 Project: NLP
Name: Emma Salary: 50000 Project: NLP

In [15]:
# private memeber
# 1.Create public method to access private members
# Access Private member outside of a class using an instance method

class Employee:
    
    def __init__(self, name , salary):
        # Public memeber
        self.name = name
        # private memeber
        self.__salary =salary
        
    def show(self):
        print("Name", self.name, "Salary:", self.__salary)
        
        
emp= Employee("Haryy", 40000)
emp.show()

Name Haryy Salary: 40000

In [4]:
# 2. Name Mangling to access private members
# The name mangling is created on an identifier by adding two leading underscores and one trailing underscore,
# like this _classname__dataMember, where classname is the current class, and data member is the private variable name.

# class Employee:
    
#     def __init(self, name ,  salary):
#         # Public memeber 
#         self.name = name
#         #self.age = age
#         # Private memeber
#         self.__salary= salary
        
        
# emp = Employee("Zainab",45000)



# print("Name:", emp.name)

# # direct access to private memeber using name mangling
# print("Salary:", emp._Employee__salary)

class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary

# creating object of a class
emp = Employee('Jessa', 10000)

print('Name:', emp.name)
# direct access to private member using name mangling
print('Salary:', emp._Employee__salary)

Name: Jessa
Salary: 10000

In [3]:
# Protected Member
# Protected data members are used when you implement inheritance and want to allow data members access to only child classes.

class Company:
    
    def __init__(self):
        # Protected memeber
        self._project = "MNP"
        
class Employee(Company):
    def __init__(self ,name):
        self.name=name
        Company.__init__(self)
        
        
    def show(self):
        print("Employee name:", self.name)
        # Accessing protected memeber in child class 
        print("Employee working on project:", self._project)
        
        
c=Employee("Jessa")
c.show()

print("Project", c._project)

Employee name: Jessa
Employee working on project: MNP
Project MNP

In [6]:
# Getters and Setters in python
# Use the getter method to access data members and the setter methods to modify the data members.
# 1.When we want to avoid direct access to private variables


class Student:
    
    def __init__(self,name, age):
        self.name = name
        # private memeber
        self.__age =age
        
    # Getter  method 
    def get_age(self):
        return self.__age
    
    # Setter method 
    def set_age(self,age):
        self.__age = age
        
stud= Student("Jessa", 12)

# retrieving age using getter
print("Name:", stud.name , "Age:", stud.get_age())

# changing age using setter
stud.set_age(14)

# retrieving age using getter
print("Name:", stud.name , "Age:", stud.get_age())

Name: Jessa Age: 12
Name: Jessa Age: 14

In [10]:
# 2. To add validation logic for setting a value
# Information Hiding and conditional logic for setting an object attributes

class Student:
    def __init__(self, name, roll_no, age):
        # private member
        self.name = name
        # private members to restrict access
        # avoid direct data modification
        self.__roll_no = roll_no
        self.__age = age

    def show(self):
        print('Student Details:', self.name, self.__roll_no)

    # getter methods
    def get_roll_no(self):
        return self.__roll_no

    # setter method to modify data member
    # condition to allow data modification with rules
    def set_roll_no(self, number):
        if number > 50:
            print('Invalid roll no. Please set correct roll number')
        else:
            self.__roll_no = number

jessa = Student('Jessa', 10, 15)

# before Modify
jessa.show()
# changing roll number using setter
jessa.set_roll_no(110)


jessa.set_roll_no(25)
jessa.show()

Student Details: Jessa 10
Invalid roll no. Please set correct roll number
Student Details: Jessa 25

In [3]:
list1=["apple", "banana", "cherry"]
print(type(list1))


tuple1=("apple", "orange", "kiwi")
print(type(tuple1))

set1={"orange","chikoo", "apple"}
print(type(set1))

dict1={
    "Brand"    :    "ford",
    "year"     :    1990,
    1960       :    "war"
}
print(type(dict1))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [6]:
l1 = []
print(type(l1))

t1=()
print(type(t1))

s1=set()
print(type(s1))

d1={}
print(type(d1))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [9]:
dict1= {
    
  "Brand"    :   "Ford",
  "year"     :    1984,
  1945       :    "war"    

}


for i,j in dict1.items():
    print(i,j)

Brand Ford
year 1984
1945 war

In [13]:
dict1= {
    
  "Brand"    :   "Ford",
  "year"     :    1984,
  1945       :    "war"    

}

print(dict1.get("color"))

None

In [13]:
a={
    1 : 2,
    4 : 5
}
a[5]= a.pop(1)
print(a)

{4: 5, 5: 2}

In [18]:
class parent:
    a= "School"

    
    def __init__(self, name,age):
        self.name = name
        self.age=age
        
    def show(self):
        print(self.name)
        
        
    def check(self):
        print(self.age)
        
b1=parent("Hazra",13)
print("Name:", b1.name, b1.age)
print(b1.a)

b2=parent("Iqra",17)
b2.show()
print(b2.a)

Name: Hazra 13
School
Iqra
School

# polymorphism

In [26]:
# Polymorphism in Built-in function len()

Student= ["john", "deo", "kelly"]
Employee= ("Emp1", "Emp2", "Emp3")
School=  "ABC School"
dict1= {
    "Name"     :   "Hazra",
    "Age"      :     12,
    "Hobby"    :      "cooking"
    
}

print(len(Student))
print(len(Employee))
print(len(School))
print(len(dict1))

3
3
10
3

In [32]:
#  Method Overriding
#  process of re-implementing the inherited method in the child class is known as Method Overriding.

class Vehical:
    
    def __init__(self, name , color , price):
        self.name= name
        self.color= color
        self.price = price
        
    def show(self):
        print("Name:", self.name, "Color:", self.color, "Price:", self.price)
        
    def max_speed(self):
        print("The vehical max speed is 160")
        
    def change_gear(self):
        print("Vehival change 6 gear")
        
 
# inherit from vehical class 
class Car(Vehical):
    def max_speed(self):
        print("The car max speed is 190")
        
    def change_gear(self):
        print("car change 7 gear")
        
        
car= Car("Car 11", "Red", 200000)
car.show()
# calss method from car class
car.max_speed()
car.change_gear()

vehical = Vehical("Truck 17", "White", 750000)
vehical.show()
# Call method from vehical class
vehical.max_speed()
vehical.change_gear()

Name: Car 11 Color: Red Price: 200000
The car max speed is 190
car change 7 gear
Name: Truck 17 Color: White Price: 750000
The vehical max speed is 160
Vehival change 6 gear

In [29]:
# Overrride Built-in Functions.

class Shoping:
    def __init__(self , basket , buyer):
        self.basket = list(basket)
        self.buyer = buyer
        
    def __len__(self):
        print("Redifine Method")
        count= len(self.basket)
        # Count total items in adiffrent way
        # pair of shoes and shirt +pant
        return count * 2
    
shoping= Shoping(["shoes", "dress","Earrings"], "jesssa")
print(len(shoping))

Redifine Method
6

In [31]:
# Polymorphism in class methods

class Ferarri:
    
    def fuel_type(self):
        print("Petrol")
        
    def max_speed(self):
        print("Max speed is 350")
        
class BMW:
    
    def fuel_type(self):
        print("Diesal")
        
    def max_speed(self):
        print("Max speed is 240")
        
class Honda:
    
    def fuel_type(self):
        print("Diesal")
        
    def max_speed(self):
        print("max speed is 290")
        
             
    
ferarri = Ferarri()
bmw = BMW()
honda = Honda()

# iterate object of same type
for car in (ferarri, bmw, honda):
    # call methods without cheking class of object
    car.fuel_type()
    car.max_speed()

 # if we have thousand of cars than we cant write each object name and its method so we can itarate(loop) them.

Petrol
Max speed is 350
Diesal
Max speed is 240
Diesal
max speed is 290

In [39]:
# Polymorphism with Function and Objects.

class Ferrari:
    
    def fuel_type(self):
        print("petrol")
        
    def max_speed(self):
        print("max speed is 350")
        
class BMW:
    
    def fuel_type(self):
        print("Diesal")
        
    def max_speed(self):
        print("max speed is 240")
        
class Toyota:
    
    def fuel_type(self):
        print("petrol")
        
    def max_speed(self):
        print("max speed is 260")

# normal function        
def car_detail(obj):
    obj.fuel_type()
    obj.max_speed()
    
ferrari = Ferrari()
bmw = BMW ()
tyota= Toyota()

    
    
car_detail(ferrari)
car_detail(bmw)
car_detail(toyota)

petrol
max speed is 350
Diesal
max speed is 240
petrol
max speed is 260

In [47]:
# Polymorphism In Built-in Methods.

Students = ["Emma", "John", "deo"]
School  = "ABS School"

print("Reverse print")
for i in reversed("ALWAYS Positive"):
    print(i ,end= ' ')

print("\nReversed line")
for i in reversed(["Emma", "John", "Kelly"]):
    print(i,end= " " )

Reverse print
e v i t i s o P   S Y A W L A
Reversed line
Kelly John Emma

In [48]:
# Method Overloading.
# The process of calling the same method with different parameters is known as method overloading.
def addition(a,b):
    c= a+b
    print(c)
    
def addition(a,b,c):
    d= a+b+c
    print(d)
    
# the below line shows an error
# addition(4, 5)

# This line will call the second product method

addition(5, 6,6)

17

In [4]:
# To overcome the method overlodin problem, we can use different ways to achieve the method overloading.
# For example, the built-in function range() takes three parameters and produce different result depending upon the number of parameters passed to it.

for i in range(6): print(i,end= " , ")
print()
for i in range(2,8): print(i,end= " , ")
print()
for i in range(2, 16, 3): print(i, end= " , ")
print()

0 , 1 , 2 , 3 , 4 , 5 ,
2 , 3 , 4 , 5 , 6 , 7 ,
2 , 5 , 8 , 11 , 14 ,

In [8]:
# Lets assume we have an area() method to calculate the area of a square and rectangle.
# The method will calculate the area depending upon the number of parameters passed to it.

class shape:
    # function with two default parameter 
    def area(self, a, b=0):
        if b > 0:
            print("Area of rectangle is :" , a*b)
        else:
            print("Area of squre is :", a**2)
square = shape()
square.area(8)

rectangle= shape()
rectangle.area(6,9)

Area of squre is : 64
Area of rectangle is : 54

In [13]:
# Operator Overloading in Python

# Add two numbers 
a= (5+8)
print(a)

# Cancatenate two string
b = ("Jessa" + "Roy")
print(b)

# merger two list
print([1,3,6,8,9] + ["a", "b", "c", "d", "e"])

13
JessaRoy
[1, 3, 6, 8, 9, 'a', 'b', 'c', 'd', 'e']

In [14]:
# Overloading + operator for custom objects.

class Book:
    def __init__(self, obj1):
        self.obj1 = obj1
        
    # Overloding + oprater whith magic methode
    def __add__(self, obj2):
        return self.obj1 + obj2.obj1
    
book1 = Book(400)
book2= Book(300)

print("Total  number of pages is :", book1 + book2)

Total  number of pages is : 700

In [12]:
# Overloading the * Operator .

class Employee:
    
    def __init__(self, name, salary):
        self.name = name 
        self.salary= salary
        
    def __mul__(self,timesheet):
        print("worked for",timesheet.days,"days.")
        # calculate salary
        return self.salary * timesheet.days *third.project * four.time
        
        
        
class Timesheet:
    def __init__(self, name, days):
        self.name =name 
        self.days =days
        
        
#     def __mul__(self,timesheet):
#         print("worked for",timesheet.days,"days.")
#         # calculate salary
#         return self.salary * timesheet.days *third.project * four.time
        
        
        

class Third:
    def __init__(self, project):
        self.project= project
        
        
class Four:
    def __init__(self , time):
        self.time = time
    
    

timesheet=Timesheet("jesa", 50)       
emp= Employee("jessa", 800)
#timesheet=Timesheet("jesa", 50)
third= Third(2)
four= Four(3)
print("Salary is ",emp * timesheet* third.project* four.time)

worked for 50 days.
Salary is  1440000

In [18]:
# Unpacking

a= 2
b= "Ashraf"
c=33
d="Bhai" 
p=a,b,c,d
print(p)

x, y, z,w=p

print(x)
print(y)
print(z)
print(w)

(2, 'Ashraf', 33, 'Bhai')
2
Ashraf
33
Bhai

In [20]:
# Unpacking
list1= ["apple", "banana", "cherry"]
x,y,z=list1

print(x)
print(y)
print(z)

apple
banana
cherry

In [27]:
# Unpaking
dict1 ={
    "Name"   :    "Hazra",
    "Age"    :     13,
    "Hobby"  :      "Cooking"
}

x,y,z=dict1.items()

for i,j in dict1.items():
    print(i,j)

print(x)
print(y)
print(z)

Name Hazra
Age 13
Hobby Cooking
('Name', 'Hazra')
('Age', 13)
('Hobby', 'Cooking')

In [14]:
class Company:
    def __init__(self,name):
        self.name = name

class Employee(Company):
    def __init__(self,name,age):
        # Calling the superclass method using super()function
        c_name = super().__init___(name)
        self.age=age
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee("Zikra", 22)

AttributeError: 'super' object has no attribute '__init___'

In [8]:
class student:    
    def software(self):
        return 'MCC'
        
class school(student):
    
    def __init__(self,roll_no,age):
        super().__init__( roll_no)       
        self.age = age
        #zikra = super().show()
        
    def show(self):
        self.school="abp school"
        print("school name:",self.school, "age:", self.age)
        
class home(school):
    def __init__(self,roll_no,age, subject):
        super().__init__(roll_no, age)
        self.subject = subject
        
    def show(self):
        #zikra = super().show()
        self.school="abp school
        
        print( "school name:",self.school, "Age:", self.age,"subject:", self.subject,zikra)
s1=home(15,22,"Maths")
s1.show()

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [6]:
class student:    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
        
    def show1(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
    
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)       
        self.age = age
        #a_zikra = super().show()
        
    def show2(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age 
        
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject
        
    def show3(self):
        #a_zikra = super().show2()
        self.school="abp school"
        
        #print("i am working at",a_zikra)
        
        
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject
    
s1=home('iram',55,33,"Maths")
s1.show3()

('school name:', 'abp school', 'rollno.:', 55, 'subject:', 'Maths')

# Inheritance

In [3]:
# types of inheritane
# 1.Singal inheritance
# One child class and one parent class 
 
# Base class 
class Vehical:
    def vehical_info(self):
        print("Inside vehical class ")
        
# Child class         
class Car(Vehical):
    def car_info(self):
        print("Inside car class")
        
car = Car()
car.vehical_info()
car.car_info()

Inside vehical class
Inside car class

In [7]:
# 2. Multiple Inheritance
# one child class inherit from mutiple parent class

# parent class 1
class Person:
    def person_info(self, name, age):
        print("Inside person class")
        print("Name:",name , "Age:", age)
        

# parent vclass 2
class Company:
    def company_info(self, company_name, location):
        print("Inside company class")
        print("Company_Name:", company_name, "Location:", location)

        
# Child class 
class Employee(Company, Person):
    def employee_info(slef, salary , skill):
        print("Inside employee class")
        print("Salary:", salary, "Skill:", skill)

# Create object
emp = Employee()

emp.person_info("Jessa", 23)
emp.company_info("Googal", "Atlanta")
emp.employee_info(40000, "Machine Learning")

emp2= Employee()

emp2.person_info("Deo", 18)
emp2.company_info("Youtube", "America")
emp2.employee_info(50000, "Coding")

Inside person class
Name: Jessa Age: 23
Inside company class
Company_Name: Googal Location: Atlanta
Inside employee class
Salary: 40000 Skill: Machine Learning
Inside person class
Name: Deo Age: 18
Inside company class
Company_Name: Youtube Location: America
Inside employee class
Salary: 50000 Skill: Coding

In [9]:
# Multilevel Inheritance
# chaining of class .for exam. A is parent class of B, B is parent classs of C.
 
# Base class 
class Vehical:
    def vehical_info(self):
        print("inside vehical class")

# Child class
class Car(Vehical):
    def car_info(self):
        print("Inside car class")
        
        
# Child class 
class SportsCar(Car):
    def sports_car_info(self):
        print("Inside sports car class")
        

s_car= SportsCar()

s_car. vehical_info()
s_car.car_info()
s_car. sports_car_info()

inside vehical class
Inside car class
Inside sports car class

In [14]:
# Hierarchical Inheritance.
# one parent class and multiple child class.

class Vehical:
    def info(self):
        print("Inside vehical class")
        

class Car(Vehical):
    def car_info(self, name):
        print("Car name is:", name)
        
class Truck(Vehical):
    def truck_info(self, name):
        print("Truck name is:",name)
        
        
obj1= Car()
obj1.info()
obj1.car_info("BMW")

obj2= Truck()
obj2.info()
obj2.truck_info("Ford")

Inside vehical class
Car name is: BMW
Inside vehical class
Truck name is: Ford

In [17]:
# Hybrid Inheritance.
# combinition of difrrent inheritance is called hybrid inharitance.

class Vehical:
    def vehical_info(self):
        print("Inside of vehical class")
        
class Car(Vehical):
    def car_info(self):
        print("Inside car class")
        
        
class Truck(Vehical):
    def truck_info(self):
        print("Inside truck class")
        
        
class SportsCar(Truck, Vehical):
    def sport_car_info(self):
        print("Inside sports car class")
        
v1= SportsCar()

v1.vehical_info()
v1.truck_info():
v1.sport_car_info()

Inside of vehical class
Inside truck class
Inside sports car class

In [19]:
# Python super() function.

class Company:
    def company_name(self):
        return "Google"
    
class Employee(Company):
    def info(self):
        # Calling the parent class method in to child class using super method().
        c_name=super(). company_name()
        print("Jessa work at ",c_name)
        
emp=Employee()
emp.info()

Jessa work at  Google

In [10]:
#. 2

class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class Company(Person):
    def __init__(self, name, age, salary):
        # Using super method
        super().__init__(name,age)
        self.salary = salary
    
class Employee(Company):
    def __init__(self,name,age,salary,table_no):
        # Using super method
        super().__init__(name,age,salary)
        self.table_no = table_no
        
    def info(self):
        print("Name:", self.name, "Age:", self.age, "Salary:", self.salary, "Table No:", self.table_no)
        
emp = Employee("Harry", 26, 45000, 11)
emp.info() 

emp2= Employee("Kelly", 18, 50000, 15)
emp2.info()

Name: Harry Age: 26 Salary: 45000 Table No: 11
Name: Kelly Age: 18 Salary: 50000 Table No: 15

In [4]:
# issubclass()

class Person:
    def fun1(self):
        print("Inside of parent class")
        
class Company(Person):
    def fun2(self):
        print("Inside of child class")
        
class Employee:
    def fun3(self):
        print("Inside of employee class")
        
print(issubclass(Company , Person))

print(issubclass(Employee , tuple))

print(issubclass(Employee ,Person))

print(issubclass(Company, (list , Person)))

print(issubclass(Company, (tuple, Company)))

True
False
False
True
True

In [3]:
class A:
    
    School_name= "ABC school"
    
    def __init__(self,name):
        self.name = name
        
    def show(self):
        print("Inside show")
        
s1= A("Jessa")
s1.show()
print("Name:",s1.name)
print("School name:", A.School_name)
print(s1.School_name)
#print(A.School_name)

Inside show
Name: Jessa
School name: ABC school
ABC school

In [8]:
# Method Resulation Method (MRO)

class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B, A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
print(C.mro())
# In class C

 In class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [9]:
class Student:
    def __init__(self):
        print(1234)
        
    def __new__(self):
        print(6789)
        
s1= Student()

6789